﻿@using System.Collections
@using Kendo.Mvc.UI
@using Shared.Models
@model IEnumerable<UserModel>

@{
    ViewBag.Title = "Administration";
    var user = Session["user"] as LoginedUser;
}
<style>
    #usersGridId .k-grid-content {
        max-height: 500px;
    }
</style>
@if (user != null && user.Isloged && user.UserRoleId == 1)
{
    <div class="container-fluid" style="margin-top: 20px">
        <section id="formselect" class="well" style="width: 550px; height: 450px">
    <h2 class="ra-well-title">Administration</h2>
    <div style="margin-top: 20px; width: 500px">
        <div id="kendogriddiv">
            @(Html.Kendo().Grid<UserModel>()
                  .Name("usersgrid")
                  .ToolBar(toolbar => toolbar.Create().Text("Add").HtmlAttributes(new { id = "addNewuser" }))
                  .Editable(edit => edit.Mode(GridEditMode.InCell))
                  .Selectable()
                  .Scrollable(scr => scr.Height("auto"))
                  .Sortable()
                  .Filterable(filterable => filterable
                      .Extra(false))
                  .HtmlAttributes(new { style = " text-align: left; height:300px; max-height:300px;", id = "usersGridId" })
                  .Events(events => events.Edit("disableOnEdit").ColumnReorder("saveBeforeSort"))
                  .Columns(columns =>
                  {
                      columns.Bound(p => p.Name).Filterable(false);
                      columns.Bound(p => p.Password).Filterable(false);
                      columns.ForeignKey(p => p.UserRoleId, (IEnumerable)ViewData["userRoles"], "Id", "Name").Title("Type").Filterable(false).Sortable(false);
                      columns.Command(command =>
                      {
                          command.Edit().HtmlAttributes(new { Id = "usersGridEditClick" });
                          command.Destroy().HtmlAttributes(new { Id = "usersGridDestroyClick" });
                      }).Hidden(true);

                  })
                  .DataSource(datasource => datasource
                      .Ajax()
                      .Batch(true)
                      .ServerOperation(false)
                      .Read(read => read.Action("User_Read", "Administration"))
                      .Create(create => create.Action("User_Create", "Administration"))
                      .Destroy(destroy => destroy.Action("User_Destroy", "Administration"))
                      .Update(update => update.Action("User_Edit", "Administration"))
                      .Model(model =>
                      {
                          model.Id(p => p.UserID);
                          model.Field(p => p.Name);
                          model.Field(p => p.Password).DefaultValue("111");
                          model.Field(p => p.Email).DefaultValue("enter@newUser.email");
                          model.Field(p => p.UserRoleId).DefaultValue(1);
                      })
                  ))
        </div>
        <div style="margin-top: 25px">
            @(Html.Kendo().Button()
                  .Name("AddButton")
                  .Content("Add")
                  .Enable(true)
                  .HtmlAttributes(new { type = "button", style = "width:100px; margin-right: 10px", id = "userAddButton" })
            )
            @(Html.Kendo().Button()
                  .Name("DeleteButton")
                  .Content("Delete")
                  .Enable(false)
                  .HtmlAttributes(new { type = "button", style = "width:100px; margin-right: 10px", id = "userDeleteButton" })
            )

            @(Html.Kendo().Button()
                  .Name("RenameButton")
                  .Content("Rename")
                  .Enable(false)
                  .HtmlAttributes(new { type = "button", style = "width:100px; margin-right: 10px", id = "userRenameButton" })
            )
            @(Html.Kendo().Button()
                  .Name("SaveButton")
                  .Content("Save")
                  .Enable(true)
                  .HtmlAttributes(new { type = "button", style = "width:100px; margin-right: 10px", id = "userSaveButton" })
            )



        </div>
        @(Html.Kendo().ContextMenu()
              .Name("usersGridContextMenu")
              .Target("#usersGridId")
              .Orientation(ContextMenuOrientation.Vertical)
              .Filter("tr")
              .Animation(animation =>
              {
                  animation.Open(open =>
                  {
                      open.Fade(FadeDirection.In);
                      open.Duration(500);
                  });
              })
              .Items(items =>
              {
                  items.Add()
                      .HtmlAttributes(new { Id = "AddClick" })
                      .Text("Add New User")
                      .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                      .ImageUrl(Url.Content("~/Images/add.png"));
                  items.Add()
                      .HtmlAttributes(new { Id = "DeleteClick" })
                      .Text("Delete User")
                      .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                      .ImageUrl(Url.Content("~/Images/delete.png"));
              }))

    </div>
            </section>
        </div>
    }
    else
    {
    <div style="width: 620px;margin-right: auto;margin-left: auto; ">
        <h2>Sorry, you do not have permission to view this page.</h2>
        <h3>Please, go to @Html.ActionLink("Home Page", "Index", "Home")</h3>
    </div>
    }
    <div id="disableAllWindow" class="k-overlay" style="display: none; z-index: 10002; opacity: 0.5;"></div>
    <div id="popupWindow" style="text-align: center;">
        <label id="textLabelForPopup" class="k-label" style="font-weight:normal"></label><br />
        <input type="text" name="userinput" class="k-textbox" id="userinput" title="Input" style="width: 200px; margin: 5px 0 0 0;" /><br />
        <div style="float: right; margin-left: 20px; margin-right: 20px; margin-bottom:10px; margin-top: 20px">
            <input type="button" value="OK" class="btn btn-default" id="okPopupWindowClick" name="Login" style="width: 100px; margin-right:10px" />
            <input type="button" value="Cancel" class="btn btn-default" id="cancelPopupWindowClick" name="Cancel" style="width: 100px;" />
        </div>
    </div>

    <script>
        var win = $("#popupWindow")
            .kendoWindow({
                actions: ["Close"],
                animation: {
                    open: {
                        effects: "slideIn:down fadeIn",
                        duration: 300
                    },
                    close: {
                        effects: "slide:up fadeOut",
                        duration: 300
                    }
                },
                minWidth: 300,
                maxWidth: 350,
                modal: true,
                resizable: false,
                visible: false
            })
            .data("kendoWindow")
            .center();

        $("#cancelPopupWindowClick").on('click', function () {
            var window = $("#popupWindow").data("kendoWindow");
            $("#userinput").val(" ");
            window.close();
        });

        function disableOnEdit() {
            $('[name="Name"]').attr("disabled", true);
        }

        $("#okPopupWindowClick").on('click', function () {
            if ($("#userinput").val() === "") {
                alert("Please enter user name!");
            }
            else {
                var grid = $("#usersGridId").data("kendoGrid");
                var selectedItem = grid.dataItem(grid.select());
                var text = document.getElementById("textLabelForPopup").innerText;
                if (text === "Enter name of new user") {
                    var datasource = grid.dataSource;
                    datasource.add({ Name: $("#userinput").val(), Password: "111", UserRoleId: 1 });
                }
                else {
                    selectedItem.dirty = true;
                    selectedItem.set("Name", $("#userinput").val());
                }
                var popupWindow = $("#popupWindow").data("kendoWindow");
                popupWindow.close();
            }
        });

        $(".k-grid-toolbar").hide();


        $("#kendogriddiv").on('click', function () {
            var row = $("#usersGridId").find("tbody tr.k-state-selected");
            var deleteButton = $("#userDeleteButton").data("kendoButton");
            var renameButton = $("#userRenameButton").data("kendoButton");
            if (row.length > 0) {
                deleteButton.enable(true);
                renameButton.enable(true);
            } else {
                deleteButton.enable(false);
                renameButton.enable(false);
            }
        });

        $("#usersGridId").on("mousedown", "tr[role='row']", function (e) {
            if (e.which === 3) {
                $("tr").removeClass("k-state-selected");
                $(this).toggleClass("k-state-selected");
            }
        });

        $("#AddClick").on("click", function () {
            $("#userAddButton").click();

        });

        $("#userAddButton").on("click", function () {
            document.getElementById("textLabelForPopup").innerHTML = "Enter name of new user";
            var popupWindow = $("#popupWindow").data("kendoWindow");
            $("#userinput").val("");
            popupWindow.title("New User");
            popupWindow.center().open();

        });

        function saveBeforeSort() {
            sendData();
        }

        $("#userSaveButton").on("click", function () {
            sendData();

            var but = $("#userDeleteButton").data("kendoButton");
            var renameButton = $("#userRenameButton").data("kendoButton");
            but.enable(false);
            renameButton.enable(false);
        });

        function sendData() {
            var grid = $("#usersGridId").data("kendoGrid"),
                parameterMap = grid.dataSource.transport.parameterMap;
            var currentData = grid.dataSource.data();
            var updatedMaterials = [];
            var newMaterials = [];
            var i;
            for (i = 0; i < currentData.length; i++) {
                if (currentData[i].isNew()) {
                    newMaterials.push(currentData[i].toJSON());
                } else if (currentData[i].dirty) {
                    updatedMaterials.push(currentData[i].toJSON());
                }
            }
            var deletedMaterials = [];
            for (i = 0; i < grid.dataSource._destroyed.length; i++) {
                deletedMaterials.push(grid.dataSource._destroyed[i].toJSON());
            }

            var data = {};
            $.extend(data, parameterMap({ updated: updatedMaterials }), parameterMap({ deleted: deletedMaterials }), parameterMap({ new: newMaterials }));

            $.ajax({
                url: "/Administration/UpdateCreateDelete",
                data: data,
                type: "POST",
                success: function () {
                    grid.dataSource._destroyed = [];
                    grid.dataSource.read();
                }
            });
        }

        $("#userRenameButton").on("click", function () {
            var grid = $("#usersGridId").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            document.getElementById("textLabelForPopup").innerHTML = "Enter new user name";
            $("#userinput").val(selectedItem.Name);
            var popupWindow = $("#popupWindow").data("kendoWindow");
            popupWindow.title("Rename User");
            popupWindow.center().open();

        });

        $("#userDeleteButton").on("click", function () {
            var row = $("#usersGridId").find("tbody tr.k-state-selected");
            row.find('#usersGridDestroyClick').click();

            var but = $("#userDeleteButton").data("kendoButton");
            var renameButton = $("#userRenameButton").data("kendoButton");
            but.enable(false);
            renameButton.enable(false);
        });

        $("#DeleteClick").on("click", function () {
            var row = $("#usersGridId").find("tbody tr.k-state-selected");
            row.find('#usersGridDestroyClick').click();
            $("#usersGridContextMenu").close();
        });
    </script>
