﻿@using Shared.Models
@model FormulaModel
@{
    var user = Session["user"] as LoginedUser;
    
}
<div style="height: 520px;">
@using (Ajax.BeginForm("FormulaDetailsChanged", "Home", new AjaxOptions{ HttpMethod = "post", OnSuccess = "myJsMethod(data)" }, new {style="height:100%;", id="FormulaDetailsForm"}))
{
    @Html.ValidationSummary(true)
        <table style="margin: 0px; height: 98%">
            <tr style="height: 23px;">
                <td style="width: 150px;vertical-align:super">Formula Number</td>
                @if (user!=null && user.Isloged)
                {
                    <td style="width: 150px" class="k-textbox">
                        @Html.TextBoxFor(m=>m.FormulaNo, new {  onchange = "FormulaNoChanged()", style = "width: 148px; height:30px", type = "number"})
                        <div class="k-widget k-tooltip k-tooltip-validation " style="margin: 0.5em 0 0 -4.5em; display: none;" data-for="FormulaNo" data-valmsg-for="FormulaNo" id="FormulaNo_validationMessage" role="alert">
                            <span class="k-icon k-warning"> </span><label id="FormulaNoLabel">The FormulaNo field is required.</label>
                            <div class="k-callout k-callout-n"></div>
                        </div>
                    </td>
                }
                else
                {
                    <td style="width: 130px; height:30px; vertical-align:super">@Html.DisplayTextFor(m => m.FormulaNo)</td>
                }
            </tr>
            <tr style="height: 23px;">
                <td style="width: 125px;vertical-align:super">Formula Name</td>
               @if (user != null && user.Isloged)
               {
                   <td style="width: 150px;" class="k-textbox">
                      @Html.TextBoxFor(m => m.FormulaName, new {onchange = "FormulaNameChange()", style = "width: 148px; height:30px" })
                       <div class="k-widget k-tooltip k-tooltip-validation " style="margin: 0.5em 0 0 -4.5em; display: none;" data-for="FormulaName" data-valmsg-for="FormulaName" id="FormulaName_validationMessage" role="alert">
                           <span class="k-icon k-warning"> </span><Label id="FormulaNameLabel"></Label>
                           <div class="k-callout k-callout-n"></div>
                       </div>
                   </td>
               }
               else
               {
                <td style="width: 130px; height:30px; vertical-align:super">@Html.DisplayTextFor(m => m.FormulaName)</td>
               }
            </tr>
            <tr style="height: 23px;">
                <td style="width: 125px; vertical-align:super;font-weight:normal" class="k-label">@Html.LabelFor(m => m.Author)</td>
                <td style="width: 130px; height:30px; vertical-align:super;font-weight:normal">@Html.DisplayTextFor(m => m.Author)</td>
            </tr>
            <tr style="height: 23px;">
               
                <td style="width: 125px; vertical-align:super;font-weight:normal;">Create Date</td>
                <td style="width: 135px; height:30px; vertical-align:super;font-weight:normal">@Html.TextBox("Date", Model.CreateDate.ToString("dd/MM/yyyy"),new {@readonly="readonly", style= "background:transparent; border:0; width: 130px;" })
                </td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 125px; vertical-align:super;font-weight:normal">Modify Date</td>
                <td style="width: 135px; height:30px; vertical-align:super;font-weight:normal">@Html.TextBox("Date", Model.ModifyDate.ToString("dd/MM/yyyy"), new { @readonly = "readonly", style = "background:transparent; border:0; width: 130px;" })</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 125px; vertical-align:super;font-weight:normal">@Html.LabelFor(m => m.Version)</td>
                <td style="width: 120px; height:30px; vertical-align:super;font-weight:normal">@Html.DisplayTextFor(m => m.Version)</td>
            </tr>
            <tr style="height: 23px;">
                <td style="width: 125px;vertical-align:super;font-weight:normal">@Html.LabelFor(m => m.MixTime)</td>
                @if (user != null && user.Isloged)
                {
                    <td style="width: 150px" class="k-textbox">@Html.TextBoxFor(m => m.MixTime, new { style = "width: 148px; height:30px", onchange = "FormulaMixTimeChange()", type="number", min="0", max="999"})
                        <div class="k-widget k-tooltip k-tooltip-validation " style="margin: 0.5em 0 0 -4.5em; display: none;" data-for="MixTime" data-valmsg-for="MixTime" id="MixTime_validationMessage" role="alert">
                            <span class="k-icon k-warning"> </span><Label id="MixTimeLabel"></Label>
                            <div class="k-callout k-callout-n"></div>
                        </div>
                </td>
                }
                else
                {
                    <td style="width: 130px; height:30px; vertical-align:super">@Html.DisplayTextFor(m => m.MixTime)</td>
                }
                
            </tr>
            <tr style="height: 23px;">
                <td style="width: 125px; vertical-align:super;font-weight:normal">@Html.LabelFor(m => m.Molasses)</td>
                @if (user != null && user.Isloged)
                {
                    <td style="width: 150px" class="k-textbox">@Html.TextBoxFor(m => m.Molasses, new { style = "width: 148px; height:30px", onchange = "FormulaMolassesChange()", type = "number" })
                        <div class="k-widget k-tooltip k-tooltip-validation " style="margin: 0.5em 0 0 -4.5em; display: none;" data-for="Molasses" data-valmsg-for="Molasses" id="Molasses_validationMessage" role="alert">
                            <span class="k-icon k-warning"> </span><Label id="MolassesLabel"></Label>
                            <div class="k-callout k-callout-n"></div>
                        </div>
                </td>
                }
                else
                {
                    <td style="width: 130px; height:30px; vertical-align:super">@Html.DisplayTextFor(m => m.Molasses)</td>
                }
                
            </tr>
            <tr style="height: 23px;">
                <td style="width: 125px; vertical-align:super;font-weight:normal">@Html.LabelFor(m => m.Tallow)</td>
                @if (user != null && user.Isloged)
                {
                    <td style="width: 150px;" class="k-textbox">@Html.TextBoxFor(m => m.Tallow, new { style = "width: 148px; height:30px", onchange = "FormulaTallowChange()", type = "number" })
                        <div class="k-widget k-tooltip k-tooltip-validation " style="margin: 0.5em 0 0 -4.5em; display: none;" data-for="Tallow" data-valmsg-for="Tallow" id="Tallow_validationMessage" role="alert">
                            <span class="k-icon k-warning"> </span><Label id="TallowLabel"></Label>
                            <div class="k-callout k-callout-n"></div>
                        </div>
                </td>
                }
                else
                {
                    <td style="width: 130px; height:30px; vertical-align:super">@Html.DisplayTextFor(m => m.Tallow)</td>
                }
                
            </tr>
            <tr style="height: 23px;">
                <td style="width: 125px; vertical-align:super;font-weight:normal">@Html.LabelFor(m => m.Conditioning)</td>
                @if (user != null && user.Isloged)
                {
                    <td style="width: 150px;" class="k-textbox">@Html.TextBoxFor(m => m.Conditioning, new { style = "width: 148px; height:30px", onchange = "FormulaConditioningChange()", type = "number" })
                    <div class="k-widget k-tooltip k-tooltip-validation " style="margin: 0.5em 0 0 -4.5em; display: none;" data-for="Conditioning" data-valmsg-for="Conditioning" id="Conditioning_validationMessage" role="alert">
                            <span class="k-icon k-warning"> </span><Label id="ConditioningLabel"></Label>
                            <div class="k-callout k-callout-n"></div>
                        </div>
                    </td>
                }
                else
                {
                    <td style="width: 130px; height:30px; vertical-align:super">@Html.DisplayTextFor(m => m.Conditioning)</td>
                }
            </tr>
            <tr style="height: 23px;">
                <td style="width: 125px; vertical-align:super;font-weight:normal">@Html.LabelFor(m => m.Contamination)</td>
                @if (user != null && user.Isloged)
                {
                    <td style="width: 150px;" class="k-textbox">@Html.TextBoxFor(m => m.Contamination, new { style = "width: 148px; height:30px", onchange = "FormulaContaminationChange()", type = "number" })
                        <div class="k-widget k-tooltip k-tooltip-validation " style="margin: 0.5em 0 0 -4.5em; display: none;" data-for="Contamination" data-valmsg-for="Contamination" id="Contamination_validationMessage" role="alert">
                            <span class="k-icon k-warning"> </span><Label id="ContaminationLabel"></Label>
                            <div class="k-callout k-callout-n"></div>
                        </div>
                </td>
                }
                else
                {
                    <td style="width: 130px; height:30px; vertical-align:super">@Html.DisplayTextFor(m => m.Contamination)</td>
                }
            </tr>
            <tr style="height: 23px;">
                <td style="width: 125px; vertical-align:super;font-weight:normal">@Html.LabelFor(m => m.Susceptibility)</td>
                @if (user != null && user.Isloged)
                {
                    <td style="width: 150px;" class="k-textbox">@Html.TextBoxFor(m => m.Susceptibility, new {style = "width: 148px; height:30px", onchange = "FormulaSusceptibilityChange()", type = "number"})
                        <div class="k-widget k-tooltip k-tooltip-validation " style="margin: 0.5em 0 0 -4.5em; display: none;" data-for="Susceptibility" data-valmsg-for="Susceptibility" id="Susceptibility_validationMessage" role="alert">
                            <span class="k-icon k-warning"> </span><Label id="SusceptibilityLabel"></Label>
                            <div class="k-callout k-callout-n"></div>
                        </div>    
                </td>
                }
                else
                {
                    <td style="width: 130px; height:30px; vertical-align:super">@Html.DisplayTextFor(m => m.Susceptibility)</td>
                }
            </tr>
            <tr style="height: 23px; display: none;">
                <td style="width: 130px;">@Html.TextBoxFor(m => m.FormulaID)</td>
                
            </tr>
        </table>
        <input type="submit" id="changebutton" class="k-button" style="visibility: collapse;"/>
}
</div>
<script>
    function FormulaNoChanged()
    {
        var t = document.getElementById("FormulaNo").value;
        if (t === "") {
            document.getElementById("FormulaNoLabel").innerHTML = "The FormulaName field is required.";
            document.getElementById("FormulaNo_validationMessage").style.display = 'block';}
        else {
            if (parseInt(t) < 1 || parseInt(t) > 99999) {
                document.getElementById("FormulaNoLabel").innerHTML = "The field FormulaNo must be between 1 and 99999.";
                document.getElementById("FormulaNo_validationMessage").style.display = 'block';
            }else{
            var id = document.getElementById("FormulaID").value;
            $.ajax({
                url: "/Home/CheckFormulaNoDuplicate",
                dataType: 'json',
                type: "POST",
                data: { number: parseInt(t), formulaid:parseInt(id)},
                success: function (data) {
                    if (data) {
                        document.getElementById("FormulaNoLabel").innerHTML = "This formula number already taken.";
                        document.getElementById("FormulaNo_validationMessage").style.display = 'block';
                    } else {
                        document.getElementById("FormulaNo_validationMessage").style.display = 'none';
                        $('#FormulaDetailsForm').submit();
                    }
                }
            });
            }
        }
        
    }
    function FormulaNameChange() {
        var t = document.getElementById("FormulaName").value;
        if (t === "") {
            document.getElementById("FormulaNameLabel").innerHTML = "The FormulaName field is required.";
            document.getElementById("FormulaName_validationMessage").style.display = 'block';
        }else
        if (t.length > 50) {
            document.getElementById("FormulaNameLabel").innerHTML = "The field FormulaName must be a string with a maximum length of 50.";
            document.getElementById("FormulaName_validationMessage").style.display = 'block';
        }
        else {
            document.getElementById("FormulaName_validationMessage").style.display = 'none';
           
                $('#FormulaDetailsForm').submit();
        }
    }
    function FormulaMixTimeChange() {
        var t = document.getElementById("MixTime").value;
        if (t === "") {
            document.getElementById("MixTimeLabel").innerHTML = "The MixTime field is required.";
            document.getElementById("MixTime_validationMessage").style.display = 'block';
        }else
        if (parseInt(t) < 0 || parseInt(t) > 999) {
            document.getElementById("MixTimeLabel").innerHTML = "The field MixTime must be between 0 and 999.";
            document.getElementById("MixTime_validationMessage").style.display = 'block';
        }
        else {
            document.getElementById("MixTime_validationMessage").style.display = 'none';
           
                $('#FormulaDetailsForm').submit();
            
        }
    }
    function FormulaMolassesChange() {
        var t = document.getElementById("Molasses").value;
        if (t === "") {
            document.getElementById("MolassesLabel").innerHTML = "The Molasses field is required.";
            document.getElementById("Molasses_validationMessage").style.display = 'block';
        }else
        if (parseInt(t) < 0 || parseInt(t) > 20) {
            document.getElementById("MolassesLabel").innerHTML = "The field Molasses must be between 0 and 20.";
            document.getElementById("Molasses_validationMessage").style.display = 'block';
        }
        else {
            document.getElementById("Molasses_validationMessage").style.display = 'none';
            
                $('#FormulaDetailsForm').submit();
            
        }
    }
    function FormulaTallowChange() {
        var t = document.getElementById("Tallow").value;
        if (t === "") {
            document.getElementById("TallowLabel").innerHTML = "The Tallow field is required.";
            document.getElementById("Tallow_validationMessage").style.display = 'block';
        }else
        if (parseInt(t) < 0 || parseInt(t) > 20) {
            document.getElementById("TallowLabel").innerHTML = "The field Tallow must be between 0 and 20.";
            document.getElementById("Tallow_validationMessage").style.display = 'block';
        }
        else {
            document.getElementById("Tallow_validationMessage").style.display = 'none';
            
                $('#FormulaDetailsForm').submit();
            
        }
    }
    function FormulaConditioningChange() {
        var t = document.getElementById("Conditioning").value;
        if (t === "") {
            document.getElementById("ConditioningLabel").innerHTML = "The Conditioning field is required.";
            document.getElementById("Conditioning_validationMessage").style.display = 'block';
        } else
            if (parseInt(t) < 0 || parseInt(t) > 20) {
                document.getElementById("ConditioningLabel").innerHTML = "The field Conditioning must be between 0 and 20.";
                document.getElementById("Conditioning_validationMessage").style.display = 'block';
            }
            else {
                document.getElementById("Conditioning_validationMessage").style.display = 'none';
                $('#FormulaDetailsForm').submit();
                
            }
    }
    function FormulaContaminationChange() {
        var t = document.getElementById("Contamination").value;
        if (t === "") {
            document.getElementById("ContaminationLabel").innerHTML = "The Contamination field is required.";
            document.getElementById("Contamination_validationMessage").style.display = 'block';
        } else
            if (parseInt(t) < 0 || parseInt(t) > 99) {
                document.getElementById("ContaminationLabel").innerHTML = "The field Contamination must be between 0 and 99.";
                document.getElementById("Contamination_validationMessage").style.display = 'block';
            }
            else {
                document.getElementById("Contamination_validationMessage").style.display = 'none';
               $('#FormulaDetailsForm').submit();
                
            }
    }
    function FormulaSusceptibilityChange() {
        var t = document.getElementById("Susceptibility").value;
        if (t === "") {
            document.getElementById("SusceptibilityLabel").innerHTML = "The Susceptibility field is required.";
            document.getElementById("Susceptibility_validationMessage").style.display = 'block';
        } else
            if (parseInt(t) < 0 || parseInt(t) > 99) {
                document.getElementById("SusceptibilityLabel").innerHTML = "The field Susceptibility must be between 0 and 99.";
                document.getElementById("Susceptibility_validationMessage").style.display = 'block';
            }
            else {
                document.getElementById("Susceptibility_validationMessage").style.display = 'none';
                $('#FormulaDetailsForm').submit();
                
            }
    }
    function gancheFormula() {
        var row = $("#kendoFormulaGrid").find("tbody tr.k-state-selected");
        if (row.length > 0) {
            $('#FormulaDetailsForm').submit();
        }
    }

    $('#FormulaDetailsForm').on('submit', function (e) {
        var row = $("#kendoFormulaGrid").find("tbody tr.k-state-selected");
        var data = $("#kendoFormulaGrid").data("kendoGrid");
        e.preventDefault();
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function () {
                var text = document.getElementById("searchBySomething").value;
                var selectedParameter = $("#SearchParameterDropDownList").kendoDropDownList().val();
                $("#kendoFormulaGrid").data("kendoGrid").dataSource.read({ "selectedParam": selectedParameter, "searchParam": text, "sortedBy": sortedBy, "sortedParam": sortedParam }, function () { data.select(row); });
                data.select(row);
            }
        });


    });
</script>