﻿@using System.Collections
@using Kendo.Mvc.UI
@using Shared
@using Shared.Models
@model IEnumerable<Formulas>

@{
    ViewBag.Title = "Formulas";
    var user = Session["user"] as LoginedUser;
}<style>
     .Dropdown 
     {
         width: 100px;
         height: 25px;   
         margin: 4px;
     }
    

 </style>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row clearfix">
         <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                <section id="formselect" class="well" style="width: 305px; height: 675px">
                    <h2 class="ra-well-title">Formula Select</h2>
                    <table style="width: 265px;">
                        <tr>
                            <th colspan="2">
                                <table style="padding: 5px; width: 113%;">
                                    <tr>
                                        <td style="text-align: left;font-weight:normal; margin-right: 20px">Search parameter</td>
                                        <td>@(Html.Kendo().DropDownList().Name("SearchParameterDropDownList").Items(Items =>
                                        {
                                            var items = new SelectList((IEnumerable)ViewData["SearchParameters"]);
                                            foreach (var item in items)
                                            {
                                                Items.Add().Text(item.Text);
                                            }
                                        }).HtmlAttributes( new { style = "width:122px; height:25px; margin-top:-4px; margin-bottom:4px;margin-left:4px;margin-right:6px;font-weight:normal" }))</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;font-weight:normal;padding-top:13px">Search string</td>
                                        <td>@Html.Kendo().TextBox().Name("searchBy").HtmlAttributes(new { style = "width:122px; height:30px; margin-top:15px; margin-bottom:4px;margin-left:4px;margin-right:6px;font-weight:normal", id = "searchBySomething" })</td>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                @(Html.Kendo().Button()
                              .Name("NameSortButton")
                              .Content("Sort By Name")
                              .Events(events => events.Click("NameSortButtonClick"))
                              .Enable(true)
                              .HtmlAttributes(new { id = "NameSortButtonId", type = "button", style = "width:46%; color:black; margin-top:10px; margin-bottom:15px;" })
                                )
                                @(Html.Kendo().Button()
                              .Name("SortNumberButton")
                              .Content("Sort By No.")
                              .Events(events => events.Click("SortNumberButtonClick"))
                              .Enable(true)
                              .HtmlAttributes(new { id = "SortNumberButtonId", type = "button", style = "width:46%; color:black; float:right; margin-top:10px; margin-bottom:15px" })
                                )
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 100%; vertical-align: top;">

                                @(Html.Kendo().Grid<Formulas>()
                                  .Name("kendoFormulaGrid")
                                  .Selectable(select => select.Mode(GridSelectionMode.Single))
                                  .HtmlAttributes(new { style = "max-height:400px; " })
                                  .Events(e => e.Change("onFormulaGridChanged"))
                                  .Events(e => e.DataBound("onFormulaGridDataBound"))
                                  .Sortable()
                                  .Scrollable()
                                  .Filterable(filterable => filterable
                                      .Extra(false))
                                  .DataSource(datasource => datasource
                                      .Ajax()
                                      .Read(read => read.Action("Formulas_Read", "Home", new { selectedParam = "Name", searchParam = "", sortedBy = "FormulaName", sortedParam = true }))
                                      .Model(model =>
                                      {
                                          model.Id(p => p.FormulaID);
                                          model.Field(p => p.FormulaNo).Editable(false);
                                          model.Field(p => p.Author).Editable(false);
                                          model.Field(p => p.FormulaName).Editable(false);
                                          model.Field(p => p.CreateDate).Editable(false);
                                      }))
                                  .Columns(columns => columns.Bound(p => p.FormulaNo)
                                      .ClientTemplate("<table>" +
                                                      "<tr>" +
                                                      "<td style='padding:0; width: 70px; color:black; font-weight:bold; border-bottom-style:hidden;'>#=FormulaNo# #=FormulaName#</td>" +
                                                      "</tr>" +
                                                      "<tr>" +
                                                      "<td style='padding:0; width: 70px; color:black; font-size:11px; font-family:verdana;border-bottom-style:hidden;'>Author: #=Author#</td>" +
                                                      "</tr>" +
                                                      "<tr>" +
                                                      "<td style='padding:0; width: 70px; color:black; font-size:11px; font-family:verdana;border-bottom-style:hidden;'>Created: #=kendo.toString(CreateDate,'dd/MM/yyyy')#</td>" +
                                                      "</tr>" +
                                                      "</table>").Filterable(false))
                                )
                                @if (@user != null && @user.Isloged)
                                {
                                    @(Html.Kendo().ContextMenu()
          .Name("FormulaGridContextMenu")
          .Target("#kendoFormulaGrid")
          .Orientation(ContextMenuOrientation.Vertical)
          .Filter("tr")
          .Animation(animation =>
          {
              animation.Open(open =>
              {
                  open.Fade(FadeDirection.In);
                  open.Duration(500);
              });
          })
          .Items(items =>
          {
              items.Add()
                  .HtmlAttributes(new { Id = "AddContextMenuClick" })
                  .Text("Add New Formula")
                  .Enabled(@user != null && @user.Isloged)
                  .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                  .ImageUrl(Url.Content("~/Images/add.png"));
              items.Add()
                  .HtmlAttributes(new { Id = "CloneContextMenuClick" })
                  .Text("Clone Formula")
                  .Enabled(@user != null && @user.Isloged)
                  .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                  .ImageUrl(Url.Content("~/Images/Copy.png"));
              items.Add()
                  .HtmlAttributes(new { Id = "DeleteContextMenuClick" })
                  .Text("Delete Formula")
                  .Enabled(@user != null && @user.Isloged)
                  .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                  .ImageUrl(Url.Content("~/Images/delete.png"));
          }))
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="margin-top: 5px;">
                                @(Html.Kendo().Button()
                                  .Name("AddButton")
                                  .Content("Add")
                                  .Events(events => events.Click("onAddFormula"))
                                  .Enable(@user != null && @user.Isloged)
                                  .HtmlAttributes(new { id = "AddButtonId", type = "button", style = "width:85px; color:black; margin-top: 15px;" })
                                  .ImageUrl(Url.Content(@user != null && @user.Isloged ? "~/Images/add_small.png" : "~/Images/add_small_disabled.png"))
                                )
                                @(Html.Kendo().Button()
                                  .Name("CloneButton")
                                  .Content("Clone")
                                  .Events(events => events.Click("onCloneFormula"))
                                  .Enable(false)
                                  .HtmlAttributes(new { id = "CloneButtonId", type = "button", style = "width:86px; color:black; margin-top: 15px;" })
                                  .ImageUrl(Url.Content("~/Images/Copy_small_disabled.png"))
                                )
                                @(Html.Kendo().Button()
                                  .Name("DeleteButton")
                                  .Content("Delete")
                                  .Events(events => events.Click("onDeleteFormula"))
                                  .Enable(false)
                                  .HtmlAttributes(new { id = "DeleteButtonId", type = "button", style = "width:86px; color:black;margin-top: 15px;" })
                                  .ImageUrl(Url.Content("~/Images/delete_small_disabled.png"))
                                )
                            </td>
                        </tr>
                    </table>
                </section>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <section class="well" style="width: 350px; height: 675px; margin-left: 58px;">
                    <h2 class="ra-well-title">Formula Details</h2>
                    <div id="details" class="target" style="margin: 0px; width: 100%; height: 100%;">
                        <table>
                            <tr style="vertical-align: top;">
                                <td>
                                    <div id="FormulaDetailsDiv">
                                        @{Html.RenderPartial("FormulaDetails", new FormulaModel());}
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </section>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <section class="well" style="width: 940px; height: 675px">
                    <h2 class="ra-well-title">Formula Steps</h2>
                    <table>
                        <tr>
                            <td>
                                <div id="FormulaStepsDiv" style="margin-top: 0; height: 520px;">
                                    @(Html.Kendo().Grid<FormulaStepModel>
                                                    ()
                                                    .Name("FormulaStepsGrid")
                                                    .HtmlAttributes(new { style = "width:900px; height:530px;" })
                                                    //.HtmlAttributes(new { style = "width:822px; height:500px; font-size:11px; font-family:verdana; color: black;" })
                                                    .Editable(edit => edit.Mode(GridEditMode.InCell))
                                                    .Selectable()
                                                    .Sortable()
                                                    .Scrollable()
                                                    .Events(events => events.Change("onChangesteps"))
                                                    .Resizable(res => res.Columns(true))
                                                    .Filterable(filterable => filterable.Extra(false))
                                                    .DataSource(datasource => datasource
                                                    .Ajax()
                                                    .Batch(true)
                                                    .ServerOperation(false)
                                                    .Read("FormulaSteps_Read", "Home")
                                                    .Update("FormulaSteps_Update", "Home")
                                                    .Model(model =>
                                                    {
                                                        model.Id(p => p.FormulaID);
                                                        model.Field(p => p.PosTolerance).Editable(@user != null && @user.Isloged);
                                                        model.Field(p => p.NegTolerance).Editable(@user != null && @user.Isloged);
                                                        model.Field(p => p.InFlight).Editable(@user != null && @user.Isloged);
                                                        model.Field(p => p.Amount).Editable(@user != null && @user.Isloged);
                                                        model.Field(p => p.MaterialID).Editable(@user != null && @user.Isloged);
                                                        model.Field(p => p.StepID).Editable(@user != null && @user.Isloged);
                                                        model.Field(p => p.StepNo).Editable(false);
                                                        model.Field(p => p.Materials).DefaultValue(ViewData["Defaultmaterials"] as MaterialModel).Editable(@user != null && @user.Isloged);
                                                        model.Field(p => p.MaterialTypes.TypeName).Editable(false);
                                                    }))
                                                    .Columns(columns =>
                                                    {
                                                        columns.Bound(p => p.StepNo).Title("Step No.").HeaderHtmlAttributes(new { style = "font-size: 14px; width: 30px; font-weight: bold;" }).HtmlAttributes(new { style = "font-size: 14px; width: 30px" }).Filterable(false);
                                                        columns.ForeignKey(p => p.MaterialID, (IEnumerable)ViewData["materials"], "MaterialID", "MaterialNo").Title("Material No.").HeaderHtmlAttributes(new { style = "font-size: 14px; width: 40px; font-weight: bold;" }).HtmlAttributes(new { style = "font-size: 14px; width: 40px" }).Filterable(false);
                                                        columns.ForeignKey(p => p.MaterialID, (IEnumerable)ViewData["materials"], "MaterialID", "MaterialName").Title("Material Name").HeaderHtmlAttributes(new { style = "font-size: 14px; width: 120px; font-weight: bold;" }).HtmlAttributes(new { style = "font-size: 14px; width: 120px" }).Filterable(false);
                                                        columns.Bound(p => p.MaterialTypes.TypeName).Title("Type Name").Filterable(false).HeaderHtmlAttributes(new { style = "font-size: 14px; width: 50px; font-weight: bold;" }).HtmlAttributes(new { style = "font-size: 14px; width: 50px" });
                                                        columns.Bound(p => p.Amount).Title("Amount (kg)").HeaderHtmlAttributes(new { style = "font-size: 14px; width: 50px; font-weight: bold;" }).HtmlAttributes(new { style = "font-size: 14px; width: 50px;" }).Filterable(false);
                                                        columns.Bound(p => p.InFlight).Title("In Flight").HeaderHtmlAttributes(new { style = "font-size: 14px; width: 30px; font-weight: bold;" }).HtmlAttributes(new { style = "font-size: 14px; width: 30px" }).Filterable(false);
                                                        columns.Bound(p => p.NegTolerance).Title("- Tol").HeaderHtmlAttributes(new { style = "font-size: 14px; width: 30px; font-weight: bold;" }).HtmlAttributes(new { style = "font-size: 14px; width: 30px" }).Filterable(false);
                                                        columns.Bound(p => p.PosTolerance).Title("+ Tol").HeaderHtmlAttributes(new { style = "font-size: 14px; width: 30px; font-weight: bold;" }).HtmlAttributes(new { style = "font-size: 14px; width: 30px" }).Filterable(false);


                                                    }))
                                    @if (@user != null && @user.Isloged)
                                        {
                                        @(Html.Kendo().ContextMenu()
                                                    .Name("FormulaStepGridContextMenu")
                                                    .Target("#FormulaStepsGrid")
                                                    .Orientation(ContextMenuOrientation.Vertical)
                                                    .Filter("tr")
                                                    .Animation(animation =>
                                                    {
                                                        animation.Open(open =>
                                                        {
                                                            open.Fade(FadeDirection.In);
                                                            open.Duration(500);
                                                        });
                                                    })
                                                    .Items(items =>
                                                    {
                                                        items.Add()
                                                        .HtmlAttributes(new { Id = "AddStepContextMenuClick" })
                                                        .Enabled(@user != null && @user.Isloged)
                                                        .Text("Add New Step")
                                                        .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                                                        .ImageUrl(Url.Content("~/Images/add.png"));
                                                        items.Add()
                                                        .HtmlAttributes(new { Id = "DeleteStepContextMenuClick" })
                                                        .Enabled(@user != null && @user.Isloged)
                                                        .Text("Delete Step")
                                                        .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                                                        .ImageUrl(Url.Content("~/Images/delete.png"));
                                                        items.Add()
                                                        .HtmlAttributes(new { Id = "InsertStepContextMenuClick" })
                                                        .Enabled(@user != null && @user.Isloged)
                                                        .Text("Insert New Step")
                                                        .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                                                        .ImageUrl(Url.Content("~/Images/add.png"));
                                                    }))
                                        }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                @(Html.Kendo().Button()
                                                .Name("AddStepButton")
                                                .Content("Add Step")
                                                .Events(events => events.Click("onAddFormulaStep"))
                                                .Enable(@user != null && @user.Isloged)
                                                .HtmlAttributes(new { id = "AddStepButtonId", type = "button", style = "width:110px; color:black; margin-right:10px; margin-top:35px" })
                                )
                                @(Html.Kendo().Button()
                                                .Name("DeleteStepButton")
                                                .Content("Delete Step")
                                                .Events(events => events.Click("onDeleteFormulaSteps"))
                                                .Enable(false)
                                                .HtmlAttributes(new { id = "DeleteStepButtonId", type = "button", style = "width:110px; color:black; margin-right:10px; margin-top:35px" })
                                )
                                @(Html.Kendo().Button()
                                                .Name("InsertStepButton")
                                                .Content("Insert Step")
                                                .Events(events => events.Click("onInsertFormulaSteps"))
                                                .Enable(false)
                                                .HtmlAttributes(new { id = "InsertStepButtonId", type = "button", style = "width:110px; color:black; margin-right:10px; margin-top:35px" })
                                )

                                @(Html.Kendo().Button()
                                                .Name("SaveChangesButton")
                                                .Content("Save Changes")
                                                .Events(events => events.Click("onSaveChanges"))
                                                .Enable(@user != null && @user.Isloged)
                                                .HtmlAttributes(new { id = "SaveChangesButtonId", type = "button", style = "width:130px; color:black; float:right; margin-top:35px" })
                                )

                            </td>
                        </tr>
                    </table>
                </section>
        </div>
    </div>
</div>

<div id="disableAllWindow" class="k-overlay" style="display: none; z-index: 10002; opacity: 0.5;"></div>
<div id="popupWindow" style="text-align: center;">
    <label id="textLabelForPopup" class="k-label" style="font-weight:normal"></label><br />
    <input type="text" name="userinput" class="k-textbox" id="userinput" title="Input" style="width: 200px; margin: 5px 0 0 0;" /><br />
    <div style="float: right; margin-left: 20px; margin-right: 20px; margin-bottom:10px; margin-top: 20px">
        <input type="button" value="OK" class="btn btn-default" id="okPopupWindowClick" name="Login" style="width: 100px; margin-right:10px" />
        <input type="button" value="Cancel" class="btn btn-default" id="cancelPopupWindowClick" name="Cancel" style="width: 100px;" />
    </div>
</div>


<script>
    $("#kendoFormulaGrid .k-grid-header").hide();
    $("#kendoFormulaGrid .k-grid-content").css('height', '400px');
    var sortedParam = true;
    var sortedBy = "FormulaName";
    var win = $("#popupWindow")
       .kendoWindow({
           actions: ["Close"],
           animation: {
               open: {
                   effects: "slideIn:down fadeIn",
                   duration: 300
               },
               close: {
                   effects: "slide:up fadeOut",
                   duration: 300
               }
           },
           minWidth: 300,
           maxWidth: 350,
           modal: true,
           resizable: false,
           visible: false
       })
       .data("kendoWindow")
       .center();


    function onAddFormula() {
        @if (@user == null || @user.Isloged == false)
       {
           <text>
        $("#FormulaAddButton").on('click', function () {
            $(this).prop("disabled", true);
            return false;
        });
        </text>
       }
       else
       {
           <text>
        $.ajax({
            url: "/Home/Formula_Create",
            dataType: 'json',
            type: "POST",
            success: function () {
                var text = document.getElementById("searchBySomething").value;
                $("#kendoFormulaGrid").data("kendoGrid").dataSource.read(
                    {
                        "selectedParam": null,
                        "searchParam": text,
                        "sortedBy": sortedBy,
                        "sortedParam": sortedParam
                    });
            }
        });
        </text>
       }

    }

    function onCloneFormula() {
        @if (@user == null || @user.Isloged == false)
      {
          <text>
        $("#FormulaCloneButton").on('click', function () {
            $(this).prop("disabled", true);
            return false;
        });
        </text>
      }
      else
      {
          <text>
        document.getElementById("textLabelForPopup").innerHTML = "Enter the name of cloned formula:";
        var popupWindow = $("#popupWindow").data("kendoWindow");
        $("#userinput").val("");
        popupWindow.title("Clone Formula");
        popupWindow.center().open();
        </text>
      }
    }
    $("#cancelPopupWindowClick").on('click', function () {
        var window = $("#popupWindow").data("kendoWindow");
        $("#userinput").val(" ");
        window.close();
    });
    $("#okPopupWindowClick").on('click', function () {
        if ($("#userinput").val() === "") {
            alert("Please enter formula name!");
        }
        else {
            var grid = $("#kendoFormulaGrid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            var data = { "id": selectedItem.FormulaNo, "newName": $("#userinput").val() };
            $.ajax({
                url: "/Home/FormulaClone",
                data:data,
                dataType:'json',
                type: "POST",
                success: function () {
                    var text = document.getElementById("searchBySomething").value;
                    $("#kendoFormulaGrid").data("kendoGrid").dataSource.read(
                        {
                            "selectedParam": null,
                            "searchParam": text,
                            "sortedBy": sortedBy,
                            "sortedParam": sortedParam
                        });
                }
            });
            var popupWindow = $("#popupWindow").data("kendoWindow");
            popupWindow.close();
        }
    });

    function onDeleteFormula() {
        @if (@user == null || @user.Isloged == false)
       {
           <text>
        $("#FormulaDeleteButton").on('click', function () {
            $(this).prop("disabled", true);
            return false;
        });
        </text>
       }
       else
       {
           <text>
        var grid = $("#kendoFormulaGrid").data("kendoGrid");
        var selecteditem = grid.dataItem(grid.select());
        var selectedId = selecteditem.FormulaNo;
        var data = { "id": selectedId };
        $.ajax({
            url: "/Home/FormulaDelete",
            data: data,
            dataType: 'json',
            type: "POST",
            success: function () {
                var text = document.getElementById("searchBySomething").value;
                $("#kendoFormulaGrid").data("kendoGrid").dataSource.read(
                    {
                        "selectedParam": null,
                        "searchParam": text,
                        "sortedBy": sortedBy,
                        "sortedParam": sortedParam
                    });

                var but = $("#DeleteButtonId").data("kendoButton");
                var cloneButton = $("#CloneButtonId").data("kendoButton");
                but.enable(false);
                cloneButton.enable(false);
            }
        });
        </text>
       }
    }

    $("#AddContextMenuClick").on('click', function() { onAddFormula(); });
    $("#CloneContextMenuClick").on('click', function() { onCloneFormula(); });
    $("#DeleteContextMenuClick").on('click', function() { onDeleteFormula(); });

    function NameSortButtonClick() {
        if (sortedBy === "FormulaName") {
            sortedParam = !sortedParam;
        } else {
            sortedParam = true;
            sortedBy = "FormulaName";
        }
        sortedGrids();
    }

    function SortNumberButtonClick() {
        if (sortedBy === "FormulaNo") {
            sortedParam = !sortedParam;
        } else {
            sortedParam = true;
            sortedBy = "FormulaNo";
        }
        sortedGrids();
    }

    function sortedGrids() {
        $("#FormulaStepsGrid").data("kendoGrid").dataSource.data([]);
        var but = $("#DeleteButtonId").data("kendoButton");
        var cloneButton = $("#CloneButtonId").data("kendoButton");
        but.enable(false);
        cloneButton.enable(false);
        var text = document.getElementById("searchBySomething").value;
        $("#kendoFormulaGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": text, "sortedBy": sortedBy, "sortedParam": sortedParam });

    }

    $("#SearchParameterDropDownList").on('change', function () {
        document.getElementById('searchBySomething').value = "";
        $("#FormulaStepsGrid").data("kendoGrid").dataSource.data([]);
        $("#kendoFormulaGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": null, "sortedBy": sortedBy, "sortedParam": sortedParam });

    });
    $("#searchBySomething").keyup(function () {
        var text = document.getElementById("searchBySomething").value;
        $("#FormulaStepsGrid").data("kendoGrid").dataSource.data([]);
        $("#kendoFormulaGrid").data("kendoGrid").dataSource.read({ "searchParam": text, "sortedBy": sortedBy, "sortedParam": sortedParam });

        var but = $("#DeleteButtonId").data("kendoButton");
        var cloneButton = $("#CloneButtonId").data("kendoButton");
        but.enable(false);
        cloneButton.enable(false);
    });

    $("#kendoFormulaGrid").on('click', function () {
        @if (@user != null) {
            <text>
        var row = $("#kendoFormulaGrid").find("tbody tr.k-state-selected");
        var deleteButton = $("#DeleteButtonId").data("kendoButton");
        var cloneButton = $("#CloneButtonId").data("kendoButton");
        if (row.length > 0) {
            deleteButton.enable(true);
            $("#DeleteButtonId").kendoButton({ imageUrl: "../Images/delete_small.png" });
            cloneButton.enable(true);
            $("#CloneButtonId").kendoButton({ imageUrl: "../Images/Copy_small.png" });
        } else {
            deleteButton.enable(false);
            $("#DeleteButtonId").kendoButton({ imageUrl: "../Images/delete_small_disabled.png" });
            cloneButton.enable(false);
            $("#CloneButtonId").kendoButton({ imageUrl: "../Images/Copy_small_disabled.png" });
        }
        </text>
        }

    });


    $("#kendoFormulaGrid").on("mousedown", "tr[role='row']", function (e) {
        if (e.which === 3) {
            $("tr").removeClass("k-state-selected");
            $(this).toggleClass("k-state-selected");
        }
    });

    $("#FormulaStepsGrid").on("mousedown", "tr[role='row']", function(e) {
        if (e.which === 3) {
            $("tr").removeClass("k-state-selected");
            $(this).toggleClass("k-state-selected");
        }
    });

    $("#FormulaStepsGrid").on('click', function() {

        @if (@user != null)
        {
            <text>
        var row = $("#FormulaStepsGrid").find("tbody tr.k-state-selected");
        var deleteButton = $("#DeleteStepButtonId").data("kendoButton");
        var insertButton = $("#InsertStepButtonId").data("kendoButton");  if( row.length > 0){
       deleteButton.enable(true);
            insertButton.enable(true);
        } else {
            deleteButton.enable(false);
            insertButton.enable(false);
        }
            </text>
        }
    });

    function dataSave() {
        var grid = $("#FormulaStepsGrid").data("kendoGrid"),
            parameterMap = grid.dataSource.transport.parameterMap;
        var currentData = grid.dataSource.data();
        var updatedFormulaSteps = [];
        for (var i = 0; i < currentData.length; i++) {
            if (currentData[i].dirty) {
                updatedFormulaSteps.push(currentData[i].toJSON());
            }
        }

        var data = {};
        $.extend(data, parameterMap({ updated: updatedFormulaSteps }));
        $.ajax({
            url: "/Home/UpdateCreateDelete",
            data: data,
            type: "POST",
            error: function () {
                //Handle the server errors using the approach from the previous example
            },
            success: function () {
                var grid = $("#kendoFormulaGrid").data("kendoGrid");
                var selecteditem = grid.dataItem(grid.select());
                var id = selecteditem.FormulaNo;
                $("#FormulaDetailsDiv").load('/Home/SelectFormula', { id: id }, function () {
                    $("#FormulaStepsGrid").data("kendoGrid").dataSource.read();

                });

            }
        });
    }

    function onAddFormulaStep() {
        dataSave();
        $.ajax({
            url: "/Home/AddFormulaStep",
            type: "POST",
            success: function(result) {
                if (result) {
                    $("#FormulaStepsGrid").data("kendoGrid").dataSource.read();
                } else {
                    alert("Formula steps count reached its maximum");
                };
            }
        });
    }

    function onInsertFormulaSteps() {
        dataSave();
        var grid = $("#FormulaStepsGrid").data("kendoGrid");
        var selecteditem = grid.dataItem(grid.select());
        var id = selecteditem.StepNo;
        $.ajax({
            url: "/Home/InsertFormulaStep",
            type: "POST",
            data: { id: id },
            success: function (result) {
                if (result) {
                    $("#FormulaStepsGrid").data("kendoGrid").dataSource.read();

                    var deleteButton = $("#DeleteStepButtonId").data("kendoButton");
                    var insertButton = $("#InsertStepButtonId").data("kendoButton");
                    deleteButton.enable(false);
                    insertButton.enable(false);
                } else {
                    alert("Formula steps count reached its maximum");
                };
            }
        });
    }

    function onDeleteFormulaSteps() {
        dataSave();
        var grid = $("#FormulaStepsGrid").data("kendoGrid");
        var selecteditem = grid.dataItem(grid.select());
        var id = selecteditem.StepNo;
        $.ajax({
            url: "/Home/DeleteFormulaStep",
            type: "POST",
            data:{id:id},
            success: function (result) {
                if (result) {
                    $("#FormulaStepsGrid").data("kendoGrid").dataSource.read();

                    var deleteButton = $("#DeleteStepButtonId").data("kendoButton");
                    var insertButton = $("#InsertStepButtonId").data("kendoButton");
                    deleteButton.enable(false);
                    insertButton.enable(false);
                } else {

                };
            }
        });
    }

    $("#AddStepContextMenuClick").on('click', function () { onAddFormulaStep(); });
    $("#DeleteStepContextMenuClick").on('click', function () { onDeleteFormulaSteps(); });
    $("#InsertStepContextMenuClick").on('click', function () { onInsertFormulaSteps(); });

    function onSaveChanges() {
        var grid = $("#kendoFormulaGrid").data("kendoGrid");
        var selecteditem = grid.dataItem(grid.select());
        var row = grid.select();
        $.ajax({
            url: "/Home/SaveChanges",
            type: "POST",
            success: function () {
                var id = selecteditem.FormulaNo === null ? 1 : selecteditem.FormulaNo;
                $("#FormulaDetailsDiv").load('/Home/SelectFormula', { id: id }, function () {
                    $("#FormulaStepsGrid").data("kendoGrid").dataSource.read();
                    grid.select(row);
                });
            }
        });
    }


    function onFormulaGridChanged() {
        dataSave();
    }

    function onFormulaGridDataBound()
    {
        var lastIdItem = null;
        var lastId = 0;
        var data = $("#kendoFormulaGrid").data("kendoGrid").dataSource.data();
        for (var i = 0; i < data.length; i++) {
            if(data[i].FormulaNo > lastId)
            {
                lastId = data[i].FormulaNo;
            }
        }
        for (var i = 0; i < data.length; i++) {
            if(data[i].FormulaNo  == lastId) {
                var contact = $("#kendoFormulaGrid").data("kendoGrid").table.find('tr[data-uid="' + data[i].uid + '"]');
                $("#kendoFormulaGrid").data("kendoGrid").select(contact);
            }
        }
    }

    function onChangesteps() {
    }
</script>
