﻿<div class="row">
    <label class="control-label col-lg-6 col-md-6 col-xs-6" style="" for="SearchParameterDropDownList">Search Parameter</label>
    <div class="col-lg-6 col-md-6 col-xs-6">
        @Html.DropDownList("SearchParameterDropDownList", new SelectList((IEnumerable)ViewData["SearchParameters"]), new { style = "width:100px; height:25px;" })
    </div>
</div>
<div class="row">
    <label class="control-label col-lg-6  col-md-6 col-xs-6" for="searchBy">Search String</label>
    <div class="col-lg-6 col-md-6 col-xs-6">
        @Html.TextBox("searchBy", null, new { style = "width:100px; height:25px; ", id = "searchBySomething" })
    </div>
</div>
<div class="buttons-wrap" style="margin:10px">
    @(Html.Kendo().Button()
                        .Name("NameSortButton")
                        .Content("Sort By Name")
                        .Events(events => events.Click("NameSortButtonClick"))
                        .Enable(true)
                        .HtmlAttributes(new { id = "NameSortButtonId", type = "button", style = "width:130px; color:black;" })
    )
    @(Html.Kendo().Button()
                        .Name("SortNumberButton")
                        .Content("Sort By Number")
                        .Events(events => events.Click("SortNumberButtonClick"))
                        .Enable(true)
                        .HtmlAttributes(new { id = "SortNumberButtonId", type = "button", style = "width:130px; color:black; float:right;" })
    )
</div>
<div class="col-lg-12">
    @(Html.Kendo().Grid<Formulas>()
                        .Name("kendoFormulaGrid")
                        .Selectable(select => select.Mode(GridSelectionMode.Single))
                        .HtmlAttributes(new { style = "max-height:400px;" })
                        .Events(e => e.Change("onFormulaGridChanged"))
                        .Sortable()
                        .Scrollable()
                        .Filterable(filterable => filterable
                        .Extra(false))
                        .DataSource(datasource => datasource
                        .Ajax()
                        .Read(read => read.Action("Formulas_Read", "Home", new { selectedParam = "Name", searchParam = "", sortedBy = "FormulaName", sortedParam = true }))
                        .Model(model =>
                        {
                            model.Id(p => p.FormulaID);
                            model.Field(p => p.FormulaNo).Editable(false);
                            model.Field(p => p.Author).Editable(false);
                            model.Field(p => p.FormulaName).Editable(false);
                            model.Field(p => p.CreateDate).Editable(false);
                        }))
                        .Columns(columns => columns.Bound(p => p.FormulaNo)
                        .ClientTemplate("<table>" +
                                     "<tr>" +
                                     "<td style='padding:0; width: 70px; color:black; font-weight:bold;'>#=FormulaNo# #=FormulaName#</td>" +
                                     "</tr>" +
                                     "<tr>" +
                                     "<td style='padding:0; width: 70px; color:black; font-size:11px; font-family:verdana;'>Author: #=Author#</td>" +
                                     "</tr>" +
                                     "<tr>" +
                                     "<td style='padding:0; width: 70px; color:black; font-size:11px; font-family:verdana;'>Created: #=kendo.toString(CreateDate,'dd/MM/yyyy')#</td>" +
                                     "</tr>" +
                                     "</table>").Filterable(false))
    )


    @if (@user != null && @user.Isloged)
    {
        // What is this for ?
        @(Html.Kendo().ContextMenu()
                            .Name("FormulaGridContextMenu")
                            .Target("#kendoFormulaGrid")
                            .Orientation(ContextMenuOrientation.Vertical)
                            .Filter("tr")
                            .Animation(animation =>
                            {
                                animation.Open(open =>
                                {
                                    open.Fade(FadeDirection.In);
                                    open.Duration(500);
                                });
                            })
                            .Items(items =>
                            {
                                items.Add()
                                    .HtmlAttributes(new { Id = "AddContextMenuClick" })
                                    .Text("Add New Formula")
                                    .Enabled(@user != null && @user.Isloged)
                                    .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                                    .ImageUrl(Url.Content("~/Images/add.png"));
                                items.Add()
                                    .HtmlAttributes(new { Id = "CloneContextMenuClick" })
                                    .Text("Clone Formula")
                                    .Enabled(@user != null && @user.Isloged)
                                    .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                                    .ImageUrl(Url.Content("~/Images/Copy.png"));
                                items.Add()
                                    .HtmlAttributes(new { Id = "DeleteContextMenuClick" })
                                    .Text("Delete Formula")
                                    .Enabled(@user != null && @user.Isloged)
                                    .ImageHtmlAttributes(new { width = "14px", height = "14px" })
                                    .ImageUrl(Url.Content("~/Images/delete.png"));
                            }))
    }
</div>
<div class="buttons-wrap" style="margin:10px">
    @(Html.Kendo().Button()
                                  .Name("AddButton")
                                  .Content("Add")
                                  .Events(events => events.Click("onAddFormula"))
                                  .Enable(@user != null && @user.Isloged)
                                  .HtmlAttributes(new { id = "AddButtonId", type = "button", style = "width:70px; color:black;" })
    )
    @(Html.Kendo().Button()
                                  .Name("CloneButton")
                                  .Content("Clone")
                                  .Events(events => events.Click("onCloneFormula"))
                                  .Enable(false)
                                  .HtmlAttributes(new { id = "CloneButtonId", type = "button", style = "width:70px; color:black;" })
    )
    @(Html.Kendo().Button()
                                  .Name("DeleteButton")
                                  .Content("Delete")
                                  .Events(events => events.Click("onDeleteFormula"))
                                  .Enable(false)
                                  .HtmlAttributes(new { id = "DeleteButtonId", type = "button", style = "width:70px; color:black;" })
    )
</div>
