﻿
        .k-header h1 {
            margin: 0;
            padding: 30px 15px;
            font-size: 32px;
            font-weight: lighter;
        }

       .k-header.container-fluid {
            background: #ffffff;
        }

        .k-header.row k-header {
            background: #ffffff;
        }

        
        .menu_item {
           background: #428bca !important;
           border-width: 0 !important;
           width: 130px;
        }

        .menu_item:hover {
           background: #000000 !important;
           border-width: 0 !important;
           width: 130px;
         }
 
        .menu_button {
            margin: 0px;
            background: #428bca !important;
            color: white !important;
            text-align: center;
            padding-bottom: 0.8em !important;
            padding-top: 0.8em !important;
            font-size:1.2em;              
        }

        .menu_button:hover {
            border: 0 ;
            margin: 0px;
            background: #000000 !important;
            color: white !important;
            padding-bottom: 0.8em !important;
            padding-top: 0.8em !important;
            font-size:1.2em;
        }
    
        .ra-well-title {
            font-family:'Century Gothic';
            font-size: 1.2857em;
            line-height: 1.2857em;
            border-bottom: 1px solid #e7e7e7;
            margin: -5px -19px 0.8333em;
            padding: 0 19px 0.7222em;
        }