﻿@using System.Collections
@using Kendo.Mvc.UI
@using Shared.Models
@model IEnumerable<MaterialModel>
@{
    ViewBag.Title = "Material";
    var user = Session["user"] as LoginedUser;
}
<div class="container-fluid" style="margin-top: 20px">
    <section id="formselect" class="well" style="width: 1050px; height: 740px">
        <h2 class="ra-well-title">Materials</h2>
        <table>
            <tr>
                <td style="width: 250px; vertical-align: top;">
                    <div style="font-weight:bold">Search Materials</div>
                    <table style="padding: 13px; width:350px; margin-top:10px">
                        <tr>
                            <td style="text-align: left">Search parameter:</td>
                            <td>
                                @(Html.Kendo().DropDownList()
                        .Name("SearchParameterDropDownList")
                        .Items(Items =>
                        {
                            var items = new SelectList((IEnumerable)ViewData["SearchParameters"]);
                            foreach (var item in items)
                            {
                                Items.Add().Text(item.Text);
                            }
                        })
                        .HtmlAttributes(new { style = "width:150px; height:30px; margin-left:15px" }))
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding-top:10px">Search string:</td>
                            <td style="padding-top:10px">@Html.Kendo().TextBox().Name("searchBy").Value(null).HtmlAttributes(new { style = "width:150px; height:30px; margin-left:15px", id = "searchBySomething" })</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align: center; margin-top:15px">
                        <table>
                            <tr id="oneRowSelected">
                                <td style="vertical-align: top; padding-bottom: 0;">
                                    @(Html.Kendo().Grid<MaterialModel>()
                                       .Name("MaterialsFirstGrid")
                                       .HtmlAttributes(new { style = "text-align: left; width:500px; height:480px; margin-bottom:0;" })
                                       .Columns(columns =>
                                       {
                                           columns.Bound(m => m.MaterialNo).Width(85).Filterable(false).Sortable(false);
                                           columns.Bound(m => m.MaterialName).Width(170).Filterable(false).Sortable(false);
                                           columns.Bound(m => m.MatlTypes).Width(150).ClientTemplate("#=MatlTypes.TypeName#").Title("Type").Width(150).Filterable(false).Sortable(false);
                                           columns.Command(commands => commands.Destroy().HtmlAttributes(new { id = "destroyMaterialFirstGrid" })).Hidden(true);
                                       })
                                       .Editable(editable => editable.Mode(GridEditMode.InCell))
                                       .Scrollable()
                                       .Selectable()
                                       .Filterable(filterable => filterable
                                           .Extra(false))
                                       .Sortable()
                                       .Events(events => events.Change("change1MaterialGrid"))
                                       .Navigatable()
                                       .DataSource(datasource => datasource
                                           .Ajax()
                                           .Read("Materials_ReadFirstGrid", "Materials", new { selectedParam = "Name", searchParam = "", sortedBy = "MaterialName", sortedParam = true })
                                           .Model(model =>
                                           {
                                               model.Id(p => p.MaterialID);
                                               model.Field(p => p.MaterialNo).Editable(@user != null && @user.Isloged);
                                               model.Field(p => p.MaterialName).Editable(@user != null && @user.Isloged);
                                               model.Field(p => p.MatlTypes).DefaultValue(ViewData["defaultMatlType"] as MatlTypesModel).Editable(@user != null && @user.Isloged);

                                           })
                                       ))
                                    @if (@user != null && @user.Isloged)
                            {
                                @(Html.Kendo().ContextMenu()
          .Name("materialsGridContextMenu")
          .Target("#MaterialsFirstGrid")
          .Orientation(ContextMenuOrientation.Vertical)
          .Filter("tr")
          .Animation(animation =>
          {
              animation.Open(open =>
              {
                  open.Fade(FadeDirection.In);
                  open.Duration(500);
              });
          })
          .Items(item =>
          {
              item.Add()
                  .HtmlAttributes(new { Id = "AddMenuButtonClickFirstGrid" })
                  .Text("Add New Material")
                  .ImageUrl(Url.Content("~/Images/add.png"))
                  .ImageHtmlAttributes(new { width = "14px", height = "14px" });
              item.Add()
                  .HtmlAttributes(new { Id = "DeleteMenuButtonClickFirstGrid" })
                  .Text("Delete Material")
                  .ImageUrl(Url.Content("~/Images/delete.png"))
                  .ImageHtmlAttributes(new { width = "14px", height = "14px" });
          }))
                            }
                                </td>

                                <td>
                                    @(Html.Kendo().Grid<MaterialModel>()
                              .Name("MaterialsSecondGrid")
                              .HtmlAttributes(new { style = "text-align: left; width:500px; height:480px; margin-bottom:0;" })
                              .Columns(columns =>
                              {
                                  columns.Bound(m => m.MaterialNo).Width(85).Filterable(false).Sortable(false);
                                  columns.Bound(m => m.MaterialName).Width(170).Filterable(false).Sortable(false);
                                  columns.Bound(m => m.MatlTypes).Width(150).ClientTemplate("#=MatlTypes.TypeName#").Title("Type").Width(150).Filterable(false).Sortable(false);
                                  columns.Command(commands => commands.Destroy().HtmlAttributes(new { id = "destroyMaterialSecondGrid" })).Hidden(true);
                              })
                              .Editable(editable => editable.Mode(GridEditMode.InCell))
                              .Scrollable()
                              .Filterable(filterable => filterable
                                  .Extra(false))
                              .Sortable()
                              .Selectable()
                              .Events(events => events.Change("change2MaterialGrid"))
                              .Navigatable()
                              .DataSource(datasource => datasource
                                  .Ajax()
                                  .Read("Materials_ReadSecondGrid", "Materials", new { selectedParam = "Name", searchParam = "", sortedBy = "MaterialName", sortedParam = true })
                                  .Model(model =>
                                  {
                                      model.Id(p => p.MaterialNo);
                                      model.Field(p => p.MaterialNo).Editable(@user != null && @user.Isloged);
                                      model.Field(p => p.MaterialName).Editable(@user != null && @user.Isloged);
                                      model.Field(p => p.MatlTypes).DefaultValue(ViewData["defaultMatlType"] as MatlTypesModel).Editable(@user != null && @user.Isloged);

                                  })
                              ))
                                    @if (@user != null && @user.Isloged)
                            {
                                @(Html.Kendo().ContextMenu()
                                  .Name("materials1GridContextMenu")
                                  .Target("#MaterialsSecondGrid")
                                  .Orientation(ContextMenuOrientation.Vertical)
                                  .Filter("tr")
                                  .Animation(animation =>
                                  {
                                      animation.Open(open =>
                                      {
                                          open.Fade(FadeDirection.In);
                                          open.Duration(500);
                                      });
                                  })
                                  .Items(item =>
                                  {
                                      item.Add()
                                          .HtmlAttributes(new { Id = "AddMenuButtonClickSecondGrid" })
                                          .Text("Add New Material")
                                          .ImageUrl(Url.Content("~/Images/add.png"))
                                          .ImageHtmlAttributes(new { width = "14px", height = "14px" });
                                      item.Add()
                                          .HtmlAttributes(new { Id = "DeleteMenuButtonClickSecondGrid" })
                                          .Text("Delete Material")
                                          .ImageUrl(Url.Content("~/Images/delete.png"))
                                          .ImageHtmlAttributes(new { width = "14px", height = "14px" });
                                  }))
                            }
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    @(Html.Kendo().Button()
                              .Name("AddButton")
                              .Content("Add")
                              .Events(events => events.Click("addNewMaterial"))
                              .Enable(@user != null && @user.Isloged)
                              .HtmlAttributes(new { id = "AddButtonId", type = "button", style = "width:100px; margin-top:25px; margin-right:10px" })
                                    )
                                    @(Html.Kendo().Button()
                              .Name("DeleteButton")
                              .Content("Delete")
                              .Events(events => events.Click("deleteMaterial"))
                              .Enable(false)
                              .HtmlAttributes(new { id = "DeleteButtonId", type = "button", style = "width:100px; margin-top:25px; margin-right:10px" })
                                    )
                                    @(Html.Kendo().Button()
                              .Name("SaveButton")
                              .Content("Save")
                              .Enable(@user != null && @user.Isloged)
                              .Events(events => events.Click("SaveButtonClick"))
                              .HtmlAttributes(new { id = "SaveButtonId", type = "button", style = "width:100px; margin-top:25px" })
                                    )
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </section>
</div>


    <script>
        $("#MaterialNo").on('click', function () {
            alert("work");
        });
        var i = 0;



        function change1MaterialGrid() {

            var row = $("#MaterialsSecondGrid").find("tbody tr.k-state-selected");
            if (row.length > 0) {
                if (i === 1) {
                    i--;
                } else {
                    i++;
                    $("#MaterialsSecondGrid").data("kendoGrid").clearSelection();
                }
            }
        }

        function change2MaterialGrid() {
            var row = $("#MaterialsFirstGrid").find("tbody tr.k-state-selected");
            if (row.length > 0) {
                if (i === 1) {
                    i--;
                } else {
                    i++;
                    $("#MaterialsFirstGrid").data("kendoGrid").clearSelection();
                }
            }
        }

        var sortedParam = true;
        var sortedBy = "MaterialNo";
        $("#MaterialsFirstGrid .k-header").eq(0).click(function () {
            if (sortedBy === "MaterialNo") {
                sortedParam = !sortedParam;
            } else {
                sortedParam = true;
                sortedBy = "MaterialNo";
            }
            sortedGrids();
        });
        $("#MaterialsFirstGrid .k-header").eq(1).click(function () {
            if (sortedBy === "MaterialName") {
                sortedParam = !sortedParam;
            } else {
                sortedParam = true;
                sortedBy = "MaterialName";
            }
            sortedGrids();
        });
        $("#MaterialsFirstGrid .k-header").eq(2).click(function () {
            if (sortedBy === "TypeID") {
                sortedParam = !sortedParam;
            } else {
                sortedParam = true;
                sortedBy = "TypeID";
            }
            sortedGrids();
        });

        $("#MaterialsSecondGrid .k-header").eq(0).click(function () {
            if (sortedBy === "MaterialNo") {
                sortedParam = !sortedParam;
            } else {
                sortedParam = true;
                sortedBy = "MaterialNo";
            }
            sortedGrids();
        });
        $("#MaterialsSecondGrid .k-header").eq(1).click(function () {
            if (sortedBy === "MaterialName") {
                sortedParam = !sortedParam;
            } else {
                sortedParam = true;
                sortedBy = "MaterialName";
            }
            sortedGrids();
        });
        $("#MaterialsSecondGrid .k-header").eq(2).click(function () {
            if (sortedBy === "TypeID") {
                sortedParam = !sortedParam;
            } else {
                sortedParam = true;
                sortedBy = "TypeID";
            }
            sortedGrids();
        });

        function sortedGrids() {
            sendData();
            var text = document.getElementById("searchBySomething").value;
            $("#MaterialsFirstGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": text, "sortedBy": sortedBy, "sortedParam": sortedParam });
            $("#MaterialsSecondGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": text, "sortedBy": sortedBy, "sortedParam": sortedParam });
        }


        $("#SearchParameterDropDownList").on('change', function () {
            document.getElementById('searchBySomething').value = "";
            $("#MaterialsFirstGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": null, "sortedBy": sortedBy, "sortedParam": sortedParam });
            $("#MaterialsSecondGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": null, "sortedBy": sortedBy, "sortedParam": sortedParam });
        });
        $("#searchBySomething").keyup(function () {
            var text = document.getElementById("searchBySomething").value;
            $("#MaterialsFirstGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": text, "sortedBy": sortedBy, "sortedParam": sortedParam });
            $("#MaterialsSecondGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": text, "sortedBy": sortedBy, "sortedParam": sortedParam });
            @if (@user != null)
        {
            <text>
            var but = $("#DeleteButtonId").data("kendoButton");
            but.enable(false);
            </text>}

        });


        $("#oneRowSelected").on('click', function () {
            @if(@user != null) { <text>
            var row = $("#MaterialsSecondGrid").find("tbody tr.k-state-selected");
            var row1 = $("#MaterialsFirstGrid").find("tbody tr.k-state-selected");
            var but = $("#DeleteButtonId").data("kendoButton");
            if (row.length > 0 || row1.length > 0) {
                but.enable(true);
            }
            else { but.enable(false); }</text>}

        });

        function addNewMaterial() {
            sendData();
            $.ajax({
                url: "/Materials/AddNewMaterial",
                type: "POST",
                success: function () {
                    $("#MaterialsFirstGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": document.getElementById("searchBySomething").value, "sortedBy": sortedBy, "sortedParam": sortedParam });
                    $("#MaterialsSecondGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": document.getElementById("searchBySomething").value, "sortedBy": sortedBy, "sortedParam": sortedParam });
                }
            });
        }
        $('#AddMenuButtonClickFirstGrid').on("click", function () {
            addNewMaterial();
        });
        $('#AddMenuButtonClickSecondGrid').on("click", function () {
            addNewMaterial();
        });

        function deleteMaterial() {
            var row = $("#MaterialsFirstGrid").find("tbody tr.k-state-selected");
            row.find('#destroyMaterialFirstGrid').click();
            var row1 = $("#MaterialsSecondGrid").find("tbody tr.k-state-selected");
            row1.find('#destroyMaterialSecondGrid').click();
            
            var but = $("#DeleteButtonId").data("kendoButton");
            but.enable(false);
        }
        $("#DeleteMenuButtonClickFirstGrid").on("click", function () { deleteMaterial(); });
        $("#DeleteMenuButtonClickSecondGrid").on("click", function () { deleteMaterial(); });

        function SaveButtonClick() {
            sendData();
            var but = $("#DeleteButtonId").data("kendoButton");
            but.enable(false);
        }

        function sendData() {
            var firrstGrid = $("#MaterialsFirstGrid").data("kendoGrid"),
                firstparameterMap = firrstGrid.dataSource.transport.parameterMap;
            var firstcurrentData = firrstGrid.dataSource.data();
            var secondGrid = $("#MaterialsSecondGrid").data("kendoGrid");
            var secondcurrentData = secondGrid.dataSource.data();
            var updatedMaterialsfirst = [];
            var newMaterialsfirst = [];
            for (var i = 0; i < firstcurrentData.length; i++) {
                if (firstcurrentData[i].isNew()) {
                    newMaterialsfirst.push(firstcurrentData[i].toJSON());
                } else if (firstcurrentData[i].dirty) {
                    updatedMaterialsfirst.push(firstcurrentData[i].toJSON());
                }
            }
            for (var i = 0; i < secondcurrentData.length; i++) {
                if (secondcurrentData[i].isNew()) {
                    newMaterialsfirst.push(secondcurrentData[i].toJSON());
                } else if (secondcurrentData[i].dirty) {
                    updatedMaterialsfirst.push(secondcurrentData[i].toJSON());
                }
            }

            var deletedMaterialsfirst = [];
            for (var i = 0; i < firrstGrid.dataSource._destroyed.length; i++) {
                deletedMaterialsfirst.push(firrstGrid.dataSource._destroyed[i].toJSON());
            }
            for (var i = 0; i < secondGrid.dataSource._destroyed.length; i++) {
                deletedMaterialsfirst.push(secondGrid.dataSource._destroyed[i].toJSON());
            }
            var data = {};
            $.extend(data, firstparameterMap({ updated: updatedMaterialsfirst }), firstparameterMap({ deleted: deletedMaterialsfirst }), firstparameterMap({ new: newMaterialsfirst }));

            var datacheck = {};
            $.extend(datacheck, firstparameterMap({ updated: updatedMaterialsfirst }));

            $.ajax({
                url: "/Materials/CheckManterialNoDuplicate",
                data: data,
                type: "POST",
                success: function (result) {
                    if (result) alert("This Material number already taken.");
                    else
                        $.ajax({
                            url: "/Materials/UpdateCreateDelete",
                            data: data,
                            type: "POST",
                            success: function () {
                                $("#MaterialsFirstGrid").data("kendoGrid").dataSource._destroyed = [];;
                                $("#MaterialsSecondGrid").data("kendoGrid").dataSource._destroyed = [];;
                                $("#MaterialsFirstGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": document.getElementById("searchBySomething").value, "sortedBy": sortedBy, "sortedParam": sortedParam });
                                $("#MaterialsSecondGrid").data("kendoGrid").dataSource.read({ "selectedParam": null, "searchParam": document.getElementById("searchBySomething").value, "sortedBy": sortedBy, "sortedParam": sortedParam });
                            }
                        });
                }
            });

        }

        @if (@user == null || @user.Isloged == false)
    {
        <text>
        $("#addbutton").on('click', function () {
            $(this).prop("disabled", true);
            return false;
        });


        </text>
    }

        $("#MaterialsFirstGrid").on("mousedown", "tr[role='row']", function (e) {
            if (e.which === 3) {
                $("tr").removeClass("k-state-selected");
                $(this).toggleClass("k-state-selected");
            }
        });
        $("#MaterialsSecondGrid").on("mousedown", "tr[role='row']", function (e) {
            if (e.which === 3) {
                $("tr").removeClass("k-state-selected");
                $(this).toggleClass("k-state-selected");
            }
        });

    </script>
