﻿@using Kendo.Mvc.UI
@using Shared.Models

<!DOCTYPE html>
<html>
<head>
    <title>Automatic Batching</title>
  

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2016.2.714/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2016.2.714/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.714/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.714/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.714/kendo.ui.core.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.714/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2016.2.714/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/ReportViewer/telerikReportViewer-10.1.16.615.min.js")"></script>

    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    

</head>


<body  style="height: 100%; font-size:14px; " >
<div class="k-header">
     <div class="container-fluid" style="background: #ffffff;">
        <div class="row k-header" style="background: #ffffff;">
            @{
                var user = Session["user"] as LoginedUser;
            }
            <table style="width: 100%; margin: 0; padding: 0;">
                <tr>
                    <td style="width: 600px; height: 65px; ">
                        <h1 style="color: black; font-size: 30px; font-family:'Century Gothic'; padding:10px ;"> Automatic Batching</h1>
                    </td>
                    <td style="vertical-align: bottom;">

                        @if (user == null)
                        {
                            <table style="float: right; font-size: 16px; margin-right: 30px ">
                                <tr>
                                    <td>
                                        <a class="k-action-link" onclick="openWindow()" >Login</a>
                                    </td>
                                </tr>
                            </table>
                        }
                        else
                        {
                            <table style="float: right; font-size: 16px; color: black; margin-right: 30px ">
                                <tr>
                                    <td>Session time: </td>
                                    <td><label id="timecountdown" style="margin: 0; width: 60px;"></label></td>
                                </tr>
                                <tr>
                                    <td>Logged user:</td>
                                    <td>@user.Name </td>
                                    <td>
                                        @Html.ActionLink("Logout", "Logout", "Home",null,new { id = "LogoutLinkId" })

                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>



            <div style="display: inline;">
               <div style="height: 2px; margin: 2px 0 0 0;"></div> 
                @{
                   var displayAdmin= "display:none";
                    if (@user != null)
                    {
                       displayAdmin = user.UserRoleId == 1 ? "display:block; width: 150px" : "display:none";
                    }

                }
                <ul id="menu" style="background: #428bca; border-width: 0; margin: 0px">
                    <li class="menu_item">
                        @Html.ActionLink("Formulas", "Index", "Home", null, new {@class = "menu_button"})
                    </li>
                    <li class="menu_item">
                        @Html.ActionLink("Materials", "Material", "Materials", null, new {@class = "menu_button", id = "MaterialMenuButton"})
                    </li>
                    <li class="menu_item">
                        @Html.ActionLink("Reporting", "Reporting", "Reporting", null, new { @class = "menu_button", id = "ReportsMenuButton" })
                    </li>
                    <li class="menu_item" style="@displayAdmin">
                        @Html.ActionLink("Administration", "Administration", "Administration", null, new {@class = "menu_button"})
                    </li>
                </ul>
                <div style="height: 2px;"></div>
            </div>

        </div>
    </div>
</div>
        
        @RenderBody()
    <div id="disableAllWindow" class="k-overlay" style="display: none;"></div>
        @(Html.Kendo().Window()
                .Name("window")
                .Title("Login")
                .Visible(false)
                .Content(@<text>
                    @Html.Partial("LoginPartialView", new UserModel())
                </text>)
                .Draggable()
                .Animation(true)
                .Width(483)
                .Height(180)
                .HtmlAttributes(new { style="margin-right:7px"})
                .Events(ev=>ev.Close("onClose"))

        )



<script>
   
    var popup_window = null;

    $(document).ready(function () {
        $("#menu").kendoMenu();
        

    });
    function onclick() {
        $("#responsive-panel").getKendoResponsivePanel().toggle();
    }

    function openWindow() {

        popup_window = $("#window").data("kendoWindow");
        popup_window.center().open();
        document.getElementById('disableAllWindow').style.display = 'block';
    }
    
    function onClose() {
        document.getElementById('disableAllWindow').style.display = 'none';
    }

    
    @if (@user != null)
    {<text>
    var timer;
    function timertick()
    {
        $.ajax({
            url: "/Home/TimerTick",
            dataType: 'json',
            type: "POST",
            success: function (data) {
                if (data === "LogOut") {
                    location.href = '/Home/Logout';
            }
                else
                     document.getElementById("timecountdown").innerHTML = data;}
         });
        }
    timer = setInterval(timertick, 1000);
    </text>
    }

</script>
</body>
</html>
