﻿@model Shared.Models.UserModel

                                    @using (Ajax.BeginForm("Index", "Home", FormMethod.Post, new AjaxOptions(), new { id = "form" }))
                                    {
                                        <span>
                                        @(Html.Kendo()
                                                .TextBoxFor(m => m.Name)
                                                .HtmlAttributes(new { id = "username", style = "width: 332px; float: right;", required = "required" }))
                                        </span>
                                        <h5 style="color: black; margin-left:25px; margin-top:15px; padding-top:10px">
                                            User Name
                                        </h5>
                                        <div style="margin-top:25px">
                                            <span style="margin-top:-10px">
                                                @(Html.Kendo()
                                                .TextBoxFor(m => m.Password)
                                                .HtmlAttributes(new { type = "password", id = "password", autocomplete = "off", style = "width: 332px; float: right;", required = "required" }))
                                            </span>
                                            <h5 style="color: black; padding-top:10px; margin-left:25px">
                                                Password
                                            </h5>
                                        </div>
                                        <label id="LoginFailedLabel" style="color: red; "></label>
                                        <div style="float: right;margin-top:20px">
                                            <input type="submit" value="Login" style="margin-right:7px; width:100px" class="btn btn-default" id="submitButtonId" name="Login" onclick="okButtonClick()"/>
                                            <input type="button" value="Cancel" style="width:100px" class="btn btn-default" onclick="closeWindow()" name="Cancel"/>
                                        </div>
                                    }

<script>
   
    function okButtonClick() {
        $.ajax({
            url: "/Home/CheckLogin",
            type: "POST",
            data: { name: $("#username").val(), password: $("#password").val() },
            success: function(result) {
                if (result)
                    $("#form").submit();
                else
                document.getElementById("LoginFailedLabel").innerHTML = "Login Failed";
                }
        });
}

   function closeWindow() {
        var window = $("#window").data("kendoWindow");
        var text = "";
        $("#username").val(text);
        $("#password").val(text);
        window.close();
        
    }


</script>
