﻿@using System.Collections
@using Kendo.Mvc.UI
@using Shared.Models
@using Telerik.Reporting
@using Telerik.ReportViewer.Mvc
@{
    ViewBag.Title = "Home Page";
    var user = Session["user"] as LoginedUser;
}
@*<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />*@
@*<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>*@

<!-- Kendo UI Scripts and Styling : Blue Opal theme -->
@*<link href="@Url.Content("~/Scripts/kendo/2016.2.714/kendo.common.min.css")" rel="stylesheet"/>*@
@*<link href="@Url.Content("~/Scripts/kendo/2016.2.714/kendo.uniform.min.css")" rel="stylesheet"/>*@
@*<script src="@Url.Content("~/Scripts/kendo/2016.2.714/kendo.all.min.js")"></script>*@


<script src="@Url.Content("~/ReportViewer/telerikReportViewer-10.1.16.615.min.js")"></script>
<style>
    #reportViewer1 {
        width: 100%;
        height: 710px;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }

    #reportViewer2 {
        width: 100%;
        height: 710px;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }

    #reportViewer3 {
        width: 100%;
        height: 710px;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        overflow: hidden;
        font-family: Verdana, Arial;
    }
</style>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row clearfix">
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <table>
                <tr>
                    <td style="width: 250px; vertical-align: top;">
                        <section id="formselect" class="well" style="width: 337px; height: 600px">
                            <h2 class="ra-well-title">Reports</h2>
                            <table style="width: 297px;">
                                <tr>
                                    <td>
@(Html.Kendo().PanelBar()
                          .Name("PanelBar")
                          .ExpandMode(PanelBarExpandMode.Single)
                          .Items(p =>
                          {
                          p.Add().Text("Report period").HtmlAttributes(new { style = @".Test .rpOut .rpExpandHandle

    {
                              visibility: hidden;
                          }
                          " })
                                .Expanded(true)
                                  .Content(@<div style="padding: 5px 0 0 5px; margin: 0">
                                    <div style="padding: 5px;">
                                        <label>@Html.Kendo().RadioButton().Name("Custom").Value(false).HtmlAttributes(new { id = "Custom", onclick = "Custom()" })Custom</label><br />
                                        <label>@Html.Kendo().RadioButton().Name("Custom").Value(false).HtmlAttributes(new { id = "ThisShift", onclick = "ThisShift()" })This Shift</label><br />
                                        <label>@Html.Kendo().RadioButton().Name("Custom").Value(false).HtmlAttributes(new { id = "LastShift", onclick = "LastShift()" })Last Shift</label><br />
                                        <label>@Html.Kendo().RadioButton().Name("Custom").Value(false).Checked(true).HtmlAttributes(new { id = "Today", onclick = "Thisday()" })Today</label><br />
                                        <label>@Html.Kendo().RadioButton().Name("Custom").Value(false).HtmlAttributes(new { id = "Yesterday", onclick = "Yesterday()" })Yesterday</label> <br />
                                    </div>
                                </div>);
                          }))
                                    </td>
                                    </tr>
                                    <tr>


                                        <td>
                                            @(Html.Kendo().PanelBar()
                              .Name("PanelBar1")
                              .ExpandMode(PanelBarExpandMode.Single)
                              .Items(p =>
                              {
p.Add().Text("DateTime options")
.Expanded(true)
.Content(@<div style="margin: 10px;">
                                    <h4 style="color: black; margin: 5px 0 2px 0;">Start date</h4>
                                    @(Html.Kendo().DatePicker()
                                                             .HtmlAttributes(new { style = "color: black; margin:0 0 2px 0;" })
                                                             .Name("StartDate")
                                                             .Enable(false)
                                                             .Value(DateTime.Today)
                                    )
                                    @(Html.Kendo().TimePicker().HtmlAttributes(new { style = "color: black;" })
                                                             .Name("StartTime")
                                                             .Enable(false)
                                                             .Value(DateTime.Today)
                                    )
                                    <h4 style="color: black; margin: 10px 0 2px 0;">End date</h4>
                                    @(Html.Kendo().DatePicker()
                                                             .HtmlAttributes(new { style = "color: black; margin:0 0 2px 0;" })
                                                             .Name("EndDate")
                                                             .Enable(false)
                                                             .Value(DateTime.Today)
                                    )
                                    @(Html.Kendo().TimePicker().HtmlAttributes(new { style = "color: black;" })
                                                             .Name("EndTime")
                                                             .Enable(false)
                                                             .Value(DateTime.Now.TimeOfDay)
                                    )
                                </div>);
p.Add().Text("Reporting")
.Content(@<div style="margin: 10px">
                                <table style="color: black;">
                                    <tr>
                                        <td style="font-family: verdana; font-size: 9pt;">Filter material by:</td>
                                        <td>@(Html.Kendo().DropDownList().Name("FilterMaterialBy")
                                            .Items(Items =>
                                            {
                                                var items = new SelectList((IEnumerable)ViewData["SearchParameters"]);
                                                foreach (var selectedItem in items)
                                                {
                                                    Items.Add().Text(selectedItem.Text);
                                                }
                                            })
                                            .HtmlAttributes(new { style = "width:150px; margin-left: 20px" }))</td>
                                    </tr>
                                    <tr>
                                        <td style="font-family: verdana; font-size: 9pt;">Materials Filter:</td>
                                        <td>
                                            @(Html.Kendo().DropDownList().Name("MaterialNameFilteredCriteria")
                                            .Items(Items =>
                                            {
                                                var items = new SelectList((IEnumerable)ViewData["MaterialsNames"]);
                                                foreach (var selectedItem in items)
                                                {
                                                    Items.Add().Text(selectedItem.Text);
                                                }
                                            })
                                            .HtmlAttributes(new { style = "display: block; width:150px; margin-left: 20px" }))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-family: verdana; font-size: 9pt;">Filter formula by:</td>
                                        <td>
                                            @(Html.Kendo().DropDownList().Name("FilterFormulasBy")
                                            .Items(Items =>
                                            {
                                                var items = new SelectList((IEnumerable)ViewData["SearchParameters"]);
                                                foreach (var selectedItem in items)
                                                {
                                                    Items.Add().Text(selectedItem.Text);
                                                }
                                            })
                                            .HtmlAttributes(new { style = "width:150px; margin-left: 20px" }))
                                    </td>
                                    </tr>
                                    <tr>
                                        <td style="font-family: verdana; font-size: 9pt;">Formulas Filter:</td>
                                        <td>
                                            @(Html.Kendo().DropDownList().Name("FormulaNameFilteredCriteria")
                                            .Items(Items =>
                                            {
                                                var items = new SelectList((IEnumerable)ViewData["FormulaNames"]);
                                                foreach (var selectedItem in items)
                                                {
                                                    Items.Add().Text(selectedItem.Text);
                                                }
                                            })
                                            .HtmlAttributes(new { style = "display: block; width:150px; margin-left: 20px" }))
                                        </td>
                                    </tr>
                                </table>

                                <a class="k-button k-button-icontext " style="width: 100%; margin: 2px 0 2px 0; color: black;" onclick="MaterialReport()"><span></span>Material Usage</a>
                                <a class="k-button k-button-icontext " style="width: 100%; margin: 2px 0 2px 0; color: black;" onclick="FormulasReport()"><span></span>Formula Production</a>
                                <a class="k-button k-button-icontext " style="width: 100%; margin: 2px 0 2px 0; color: black;" onclick="BatchReport()"><span></span>Batches Report</a>
                            </div>);
                          }))
                                    </td>
                                </tr>
                            </table>

                        </section></td>
                    <td style="vertical-align: top;">
@if (@user != null && @user.UserRoleId == 1)
{
                        <section id="formautomaticreportsettings" class="well" style="width: 305px; height: 600px; margin-left: 50px;">
                            <h2 class="ra-well-title">Automatic reporting settings</h2>
                            <text>
                            <div>
                                <div style="padding: 10px 5px 5px 5px;">
                                    Shifts per day:<br />
                                    <label>@Html.Kendo().RadioButton().Name("Shifts").Value(true).Checked((bool)ViewData["isTwoShift"]).HtmlAttributes(new { id = "TwoShifts" })Two shifts</label>
                                    <label>@Html.Kendo().RadioButton().Name("Shifts").Value(false).HtmlAttributes(new { id = "ThreeShifts" })Tree shifts</label><br />
                                    <div style="margin: 5px 0 0 0;">Morning shift start time:</div>
                                    @(Html.Kendo().TimePicker().HtmlAttributes(new { style = "color: black; width:250px; " })
                                                             .Name("ShiftStartTime")
                                                             .Enable(true)
                                                             .Value((TimeSpan)ViewData["MorningShiftStart"])
                                    )
                                    <div style="margin: 5px 0 0 0; width: 100%;">Store reports directory:</div>
                                    @Html.Kendo().TextBox().Name("StoreReportDirectory").Value((string)ViewData["Repository"]).HtmlAttributes(new { style = "widht:250px;" })
                                    @(Html.Kendo().Button()
                                              .Name("AddStepButton")
                                              .Content("Save Changes")
                                              .Events(events => events.Click("SaveButtonClick"))
                                              .HtmlAttributes(new { id = "SaveChangesButtonId", type = "button", style = "width:125px; color:black; float:left; margin-top: 10px" })
                                    )
                                </div>
                            </div>
                            </text>
                        </section>
}
                    </td>
                    <td style="width: 100%; vertical-align: top;">
                        <div id="FirstReport" style="width: 100%; height: 710px;">
                            @(Html.TelerikReporting().ReportViewer()
                          .Id("reportViewer1")
                          .ServiceUrl("/api/reports/")

                          .ReportSource(new UriReportSource()
                          {
                              Uri = "Reports/MaterialsReport.trdx",
                              Parameters = { new Parameter() {Name = "EndDate" ,Value = (DateTime)ViewData["MaterialReportStartDate"] },
                                  new Parameter() {Name = "StartDate", Value =(DateTime)ViewData["MaterialReportEndDate"]  },
                                  new Parameter() { Name = "FormulaNumbers", Value = ViewData["MaterialReportStartFormulaNumber"] },
                                  new Parameter () { Name = "MaterialNumbers", Value = ViewData["MaterialReportStartmaterialNumber"] }}
                          })
                          .ViewMode(ViewModes.INTERACTIVE)
                          .ScaleMode(ScaleModes.SPECIFIC)

                          .Scale(1.0))
                        </div>
                        <div id="SecondReport" style="width: 100%; height: 710px; display: none;">
                            @(Html.TelerikReporting().ReportViewer()
                          .Id("reportViewer2")
                          .ServiceUrl("/api/reports/")

                          .ReportSource(new UriReportSource
                          {
                              Uri = "Reports/Formulas.trdx",
                              Parameters ={new Parameter() {Name = "EndDate" ,Value = (DateTime)ViewData["FormulaReportStartDate"] },
                              new Parameter {Name = "StartDate", Value =(DateTime)ViewData["FormulaReportEndDate"]  },
                              new Parameter { Name = "FormulaNumber", Value = ViewData["FormulaReportNumber"] }
                          }
                          })
                          .ViewMode(ViewModes.INTERACTIVE)
                          .ScaleMode(ScaleModes.SPECIFIC)

                    .Scale(1.0)

                            )
                        </div>
                        <div id="ThirdReport" style="width: 100%; height: 710px; display: none;">
                            @(Html.TelerikReporting().ReportViewer()
                          .Id("reportViewer3")
                          .ServiceUrl("/api/reports/")

                          .ReportSource(new UriReportSource()
                          {
                              Uri = "Reports/BatchReport.trdx",
                              Parameters = { new Parameter() {Name = "StartDate",Value = (DateTime)ViewData["BatchReportStartDate"]},
                                  new Parameter() {Name = "EndDate", Value = (DateTime)ViewData["BatchReportEndDate"]} }
                          })
                          .ViewMode(ViewModes.INTERACTIVE)
                          .ScaleMode(ScaleModes.SPECIFIC)

                    .Scale(1.0)

                            )
                        </div>
                    </td>
                </tr>
            </table>
        </div>
            </div>
        </div>


        <script type="text/javascript">

            function SaveButtonClick() {
                var shift = $("#TwoShifts").val();
                var repos = $("#StoreReportDirectory").val();
                var date = $("#ShiftStartTime").val();
                $.ajax({
                    url: "/Reporting/SaveChanges",
                    dataType: 'json',
                    type: "POST",
                    data: {
                        shift: shift,
                        repository: repos,
                        time: date
                    }

                });
            }

            function MaterialReport() {
                var date = $("#StartDate").val();
                var time = $("#StartTime").val();
                var enddate = $("#EndDate").val();
                var endtime = $("#EndTime").val();
                var materials = "";
                if ($("#FilterMaterialBy").val() === "Number") {
                    materials = $("#MaterialNumberFilteredCriteria").val();

                } else { materials = $("#MaterialNameFilteredCriteria").val(); }
                var formulas = "";
                if ($("#FilterFormulasBy").val() === "Number") {
                    formulas = $("#FormulaNumberFilteredCriteria").val();

                } else { formulas = $("#FormulaNameFilteredCriteria").val(); }
                var formulasearchby = $("#FilterFormulasBy").val();
                var materialsearchby = $("#FilterMaterialBy").val();
                $.ajax({
                    url: "/Reporting/ReportParameters",
                    dataType: 'json',
                    type: "POST",
                    data: {
                        startdate: date,
                        starttime: time,
                        enddate: enddate,
                        endtime: endtime,
                        materials: materials,
                        materialsearchby: materialsearchby,
                        formulas: formulas,
                        formulasearchby: formulasearchby,
                        typeofreport: "MaterialsReport"
                    },
                    success: function (source) {
                        var reportViewer = $("#reportViewer1").data("telerik_ReportViewer");
                        reportViewer.reportSource({
                            report: "Reports/MaterialsReport.trdx",
                            parameters: { "StartDate": source[2], "EndDate": source[1], "FormulaNumbers": source[3], "MaterialNumbers": source[4] }
                        });
                    }

                });
                document.getElementById("FirstReport").style.display = 'block';
                document.getElementById("SecondReport").style.display = 'none';
                document.getElementById("ThirdReport").style.display = 'none';
            }
            function FormulasReport() {
                var date = $("#StartDate").val();
                var time = $("#StartTime").val();
                var enddate = $("#EndDate").val();
                var endtime = $("#EndTime").val();
                var materials = "";
                if ($("#FilterMaterialBy").val() === "Number") {
                    materials = $("#MaterialNumberFilteredCriteria").val();

                } else { materials = $("#MaterialNameFilteredCriteria").val(); }
                var formulas = "";
                if ($("#FilterFormulasBy").val() === "Number") {
                    formulas = $("#FormulaNumberFilteredCriteria").val();

                } else { formulas = $("#FormulaNameFilteredCriteria").val(); }
                var formulasearchby = $("#FilterFormulasBy").val();
                var materialsearchby = $("#FilterMaterialBy").val();
                $.ajax({
                    url: "/Reporting/ReportParameters",
                    dataType: 'json',
                    type: "POST",
                    data: {
                        startdate: date,
                        starttime: time,
                        enddate: enddate,
                        endtime: endtime,
                        materials: materials,
                        materialsearchby: materialsearchby,
                        formulas: formulas,
                        formulasearchby: formulasearchby,
                        typeofreport: "FormulaReport"
                    },
                    success: function (source) {
                        var reportViewer = $("#reportViewer2").data("telerik_ReportViewer");
                        reportViewer.reportSource({
                            report: "Reports/Formulas.trdx",
                            parameters: { "StartDate": source[2], "EndDate": source[1], "FormulaNumber": source[3] }
                        });

                    }

                });

                document.getElementById("FirstReport").style.display = 'none';
                document.getElementById("SecondReport").style.display = 'block';
                document.getElementById("ThirdReport").style.display = 'none';
            }
            function BatchReport() {
                var date = $("#StartDate").val();
                var time = $("#StartTime").val();
                var enddate = $("#EndDate").val();
                var endtime = $("#EndTime").val();
                var materials = "";
                if ($("#FilterMaterialBy").val() === "Number") {
                    materials = $("#MaterialNumberFilteredCriteria").val();

                } else { materials = $("#MaterialNameFilteredCriteria").val(); }
                var formulas = "";
                if ($("#FilterFormulasBy").val() === "Number") {
                    formulas = $("#FormulaNumberFilteredCriteria").val();

                } else { formulas = $("#FormulaNameFilteredCriteria").val(); }
                var formulasearchby = $("#FilterFormulasBy").val();
                var materialsearchby = $("#FilterMaterialBy").val();
                $.ajax({
                    url: "/Reporting/ReportParameters",
                    dataType: 'json',
                    type: "POST",
                    data: {
                        startdate: date,
                        starttime: time,
                        enddate: enddate,
                        endtime: endtime,
                        materials: materials,
                        materialsearchby: materialsearchby,
                        formulas: formulas,
                        formulasearchby: formulasearchby,
                        typeofreport: "BatchReport"
                    },
                    success: function (source) {
                        var reportViewer = $("#reportViewer3").data("telerik_ReportViewer");
                        reportViewer.reportSource({
                            report: "Reports/BatchReport.trdx",
                            parameters: { "StartDate": source[1], "EndDate": source[0] }
                        });
                    }

                });
                document.getElementById("FirstReport").style.display = 'none';
                document.getElementById("SecondReport").style.display = 'none';
                document.getElementById("ThirdReport").style.display = 'block';
            }

            $("#FilterMaterialBy").on('change', function () {
                if ($("#FilterMaterialBy").val() === "Name") {
                    document.getElementById("MaterialNameFilteredCriteria").style.display = 'block';
                    document.getElementById("MaterialNumberFilteredCriteria").style.display = 'none';
                } else {
                    document.getElementById("MaterialNameFilteredCriteria").style.display = 'none';
                    document.getElementById("MaterialNumberFilteredCriteria").style.display = 'block';
                }
            });
            $("#FilterFormulasBy").on('change', function () {
                if ($("#FilterFormulasBy").val() === "Name") {
                    document.getElementById("FormulaNameFilteredCriteria").style.display = 'block';
                    document.getElementById("FormulaNumberFilteredCriteria").style.display = 'none';
                } else {
                    document.getElementById("FormulaNameFilteredCriteria").style.display = 'none';
                    document.getElementById("FormulaNumberFilteredCriteria").style.display = 'block';
                }
            });

            function Custom() {
                DateAndTimePickersEnabled(true);

            }

            function Thisday() {
                DateAndTimePickersEnabled(false);
                var date = new Date();
                $("#StartDate").data("kendoDatePicker").value(date);
                $("#StartTime").data("kendoTimePicker").value('0:00');
                $("#EndDate").data("kendoDatePicker").value(date);
                $("#EndTime").data("kendoTimePicker").value(date);
            }

            function Yesterday() {
                DateAndTimePickersEnabled(false);
                var date = new Date();
                $("#StartDate").data("kendoDatePicker").value((date.getDate() - 1) + '.' + (date.getMonth() + 1) + '.' + date.getFullYear());
                $("#StartTime").data("kendoTimePicker").value('0:00');
                $("#EndDate").data("kendoDatePicker").value(date);
                $("#EndTime").data("kendoTimePicker").value('0:00');
            }

            function ThisShift() {
                DateAndTimePickersEnabled(false);
                $.ajax({
                    url: "/Reporting/ShiftPeriod",
                    dataType: 'json',
                    type: "POST",
                    data: {
                        shift: "This"
                    },
                    success: function (data) {
                        $("#StartDate").data("kendoDatePicker").value(data[0]);
                        $("#StartTime").data("kendoTimePicker").value(data[0]);
                        $("#EndDate").data("kendoDatePicker").value(data[1]);
                        $("#EndTime").data("kendoTimePicker").value(data[1]);
                    }
                });
            }

            function LastShift() {
                DateAndTimePickersEnabled(false);
                $.ajax({
                    url: "/Reporting/ShiftPeriod",
                    dataType: 'json',
                    type: "POST",
                    data: {
                        shift: "Last"
                    },
                    success: function (data) {
                        $("#StartDate").data("kendoDatePicker").value(data[0]);
                        $("#StartTime").data("kendoTimePicker").value(data[0]);
                        $("#EndDate").data("kendoDatePicker").value(data[1]);
                        $("#EndTime").data("kendoTimePicker").value(data[1]);

                    }
                });
            }
            function DateAndTimePickersEnabled(data) {
                $("#StartDate").data("kendoDatePicker").enable(data);
                $("#StartTime").data("kendoTimePicker").enable(data);
                $("#EndDate").data("kendoDatePicker").enable(data);
                $("#EndTime").data("kendoTimePicker").enable(data);
            }


        </script>
